[2020-03-17 09:48] yashug opened #1065 "Publish failing with the following error"
**Describe the bug**

Error: Working direction is not clean, make sure all files are committed
    at Auto.checkClean (/home/runner/work/*/node_modules/@auto-it/core/dist/auto.js:100:19)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at async Auto.publishFullRelease (/home/runner/work/*/node_modules/@auto-it/core/dist/auto.js:892:13)
    at async Auto.shipit (/home/run

[2020-03-17 13:38] zephraph commented on #1065
Could you add a little more context? It seems like you were trying to do a release when there were changed files. This could happen if your `yarn.lock` file changed during CI for example.

[2020-03-17 15:52] hipstersmoothie commented on #1065
During any type of publish we ensure that there are no uncommitted files. The error message should include what files are changed though

![Screen Shot 2020-03-17 at 8 51 46 AM](https://user-images.githubusercontent.com/1192452/76874537-8d7f4780-682c-11ea-9dbd-7ac1f6b237fc.png)

you might be on an older version though

[2020-03-17 16:00] yashug commented on #1065
@zephraph @hipstersmoothie yes, yarn.lock file is changing during CI process. But i pushed latest yarn.lock to master branch. i am not sure why the yarn.lock file changing during CI process. It was working fine before, just observing this behaviour in recent versions.

i use dependabot to keep update to latest version. so no chance of using older version.

please help me here

[2020-03-17 16:04] hipstersmoothie commented on #1065
When in the CI it is recommended to use [`yarn  install --frozen-lockfil`](https://classic.yarnpkg.com/en/docs/cli/install/#toc-yarn-install-frozen-lockfile).

[2020-03-17 16:22] yashug commented on #1065
@hipstersmoothie thanks. Will  try and let you know

[2020-03-18 15:38] hipstersmoothie commented on #1065
@yashug did you resolve this?

[2020-03-18 15:57] yashug commented on #1065
@hipstersmoothie yes it did. Thank you so much

[2020-03-18 17:41] #1065 closed

[2020-03-19 18:51] hipstersmoothie opened #1069 "All-contributors plugin missed a contributor"
see release for 9.20.0

[2020-03-19 21:07] #1069 closed

[2020-03-19 21:21] adierkens commented on #1069
:rocket: Issue was released in `v9.20.1` :rocket:

[2020-03-27 11:13] smoia opened #1080 "Append suffix to version tag"
**Is your feature request related to a problem? Please describe.**

I'm implementing auto in a package I'm managing (issue physiopy/phys2bids#181 ) to create automatic releases with Git Tag (and update Pipy and zenodo). We're still in beta stage, and I was wondering if there is a way to append a suffix to the version tag (e.g. `v1.3.0-beta`) to indicate the development stage. I checked documentati

[2020-03-27 12:26] smoia opened #1081 "If changed, use latest PR title in release notes and changelog"
**Is your feature request related to a problem? Please describe.**
I'm not sure whether this is a bug or a feature.
Implementing Auto in a repository (issue physiopy/phys2bids#181 ), we realised that the PR title used to create the changelog and the release notes doesn't match with the current title of our PRs.
This is because we changed the titles recently, to make them more human readable, while

[2020-03-27 15:58] hipstersmoothie commented on #1080
The way auto supports `beta` release lines is with `next` branches. Basically you just:

- create `next` branch (or configure another name)
- start making PRs into that branch
- when you merge into that branch `shipit` runs and makes a pre-release
- merge `next` into `master` and `auto` publishes all the changes to `latest`

Docs on prereleases: https://intuit.github.io/auto/pages/generated/shipit

[2020-03-27 16:04] hipstersmoothie commented on #1081
I'll take a look at this. It should use the updated title, but you would have to generate the changelog again.

I've definitely changed titles before though.

[2020-03-27 16:10] smoia commented on #1081
Thank you @hipstersmoothie .
I was playing with auto while updating the labels of our PRs, and I see that also the labels are not respected (see our chagelog again).

[2020-03-27 16:13] hipstersmoothie commented on #1081
Not that running from within a PR can give you odd changelog results. Looking into this now. It's cool to see a python project using `auto`!

[2020-03-27 16:18] smoia commented on #1080
Hello @hipstersmoothie, thank you for your reply!
Yes, I saw the possibility of maintaining more than a branch and have beta features, and the possibility of "graduating only with release label".
However, our intentions are a bit different.

We're an open development package, that wants to release and track changes even if we're still in beta stage development. For this reason, the only thing we w

[2020-03-27 16:21] smoia commented on #1081
Yes, we're excited too!
I preferred `auto` to other packages because I strongly support the use of labels rather than angular commit conventions and similar!

Once our PR is ready and everything works fine, you can add us as an example of Travis CI configuration and python-based-`auto`-adopting project, if you want!

[2020-03-27 16:22] smoia commented on #1081
Also, I should specify that the changelog that you see in physiopy/phys2bids#181 was obtained by running auto locally on my computer.

[2020-03-27 16:30] hipstersmoothie commented on #1081
recreated locally. should have a fix in today

[2020-03-27 17:08] hipstersmoothie commented on #1080
you would have to do two things:

1. create `beta` branch
2. add `beta` to [`prereleaseBranches`](https://intuit.github.io/auto/pages/autorc.html#prerelease-branches) in your .autorc

The suffix is based on the prerelease branch.

- run `shipit` from `next` => suffix `-next`
- run `shipit` from `beta` => suffix `-beta`

[2020-03-27 17:09] hipstersmoothie commented on #1080
Some example tags: https://github.com/intuit/auto/tags?after=v8.0.0

Releases look somewhat like: https://github.com/intuit/auto/releases?after=v8.0.0 (may have changed a little)

[2020-03-27 17:54] #1081 closed

[2020-03-27 18:20] adierkens commented on #1081
:rocket: Issue was released in `v9.21.1` :rocket:

[2020-03-30 23:00] #1080 closed

[2020-04-01 19:06] hipstersmoothie opened #1098 "Brew Plugin"
**Is your feature request related to a problem? Please describe.**

I want to automate my `brew` releases with an official `auto` plugin.

**Describe the solution you'd like**

A generic way to release `brew` packages.

**Describe alternatives you've considered**

`auto` currently uses it's own [custom plugin](https://github.com/intuit/auto/blob/master/scripts/update-tap.js) that accomplishes this

[2020-04-01 19:08] hipstersmoothie commented on #1098
# Potential Solution

Users provide a `formula-template` that *is* their `brew` formula with variables for the `version` and `sha`.

[code]

[2020-04-01 19:59] chetanddesai commented on #1098
Is `version` optional in a brew formula? I noticed yours just has `url` and `sha256`.  e.g. https://github.com/intuit/ReplayZero/blob/master/Formula/replay-zero.rb#L6

We can easily enough add it in

[code]

[2020-04-01 20:02] hipstersmoothie commented on #1098
@chetanddesai Good catch. I'll add that in

[2020-04-01 20:36] wtait1 commented on #1098
Homebrew does try to guess the version from the `url` if it can, for example it does show the version for `auto`
[code]

I just prefer to include it explicitly, like in the formula for Replay Zero 😄

[2020-04-01 22:04] #1098 closed

[2020-04-01 22:28] adierkens commented on #1098
:rocket: Issue was released in [`v9.23.0`](https://github.com/intuit/auto/releases/tag/v9.23.0) :rocket:

[2020-04-02 00:24] rbellamy opened #1102 "Documentation: how to install and use unofficial plugins with binary bundle"
I am looking to use auto with multiple projects, including maven (which has a plugin) and sbt (which does not). The maven plugin is not considered "official" and therefore will not be bundled with the binary distribution.

**Describe the solution you'd like**
I'd like the documentation to outline the recommended method for installing the unofficial plugins for use by a binary installation of auto.

[2020-04-02 00:52] hipstersmoothie commented on #1102
All the plugins that are in this repo are included in the binary version. So this shouldn't be a problem

---

You are right though the path for using "unofficial" plugins isn't too obvious. Off the top of my head the ways you could do it are:

1. Have the plugin file local and committed to the project. Until very recently auto did the same. All you need to do is [write the plugin](https://github.

[2020-04-03 00:44] #1102 closed

[2020-04-03 00:46] hipstersmoothie commented on #1102
You can now run `auto info --list-plugins` to view available plugins. The docs have also been updated with guidance on usage.

[2020-04-03 00:56] adierkens commented on #1102
:rocket: Issue was released in [`v9.24.0`](https://github.com/intuit/auto/releases/tag/v9.24.0) :rocket:

[2020-04-03 03:41] ncheema opened #1105 "honor maven options for maven release plugin"
**Is your feature request related to a problem? Please describe.**
Maven builds generally allows a set of maven options to be passed as arguments(such as local maven directory, threads, debug mode, etc).

**Describe the solution you'd like**
Honor an environment variable (`MAVEN_OPTS`) during build/release execution

**Describe alternatives you've considered**

**Additional context**

[2020-04-03 03:50] hipstersmoothie commented on #1105
From what I can tell `MAVEN_OPTS` can be set from you scripts right? It doesn't seem like you have to do anything extra for the `mvn` command to use that. We already expose the environment to the command so it might already be happening.

Is this request to have some configuration option like

[code]

Or is the request just to *use* the env var when running `mvn`?

[2020-04-03 03:57] rbellamy opened #1107 "shipit should have a only-publish-with-release-label command-line paramater"
Currently, there are two booleans that dictate how `shipit` behaves during a release:
`onlyGraduateWithReleaseLabel` - default `false`. Used only by `shipit`. Available as a command-line parameter.
`onlyPublishWithReleaseLabel` - default `true` Used by both `version` and `shipit`, but `shipit` doesn't have this command-line switch.

[2020-04-03 05:45] hipstersmoothie commented on #1107
Oops! Forgot to expose that as a flag (everything else was already hooked up). This is one that I would also probably set in the `.autorc` as some other parts of auto look at this config option.

Thanks for filing these issues!

[2020-04-03 06:37] #1107 closed

[2020-04-03 06:48] adierkens commented on #1107
:rocket: Issue was released in [`v9.25.0`](https://github.com/intuit/auto/releases/tag/v9.25.0) :rocket:

[2020-04-03 07:00] rbellamy commented on #1107
Thanks for the quick turnaround!

[2020-04-03 07:38] rbellamy opened #1109 "--list-plugins isn't working with binary distribution"
**Describe the bug**

[code]

You can see that when the plugin name is NOT found, the tool notices and gives a warning.

Also, when there is NO plugin set in `.autorc` then you get the same non-zero exit code and the default plugin (`git-tag` if I understand your new doco correctly) is not listed.

[code]

[2020-04-04 10:43] rbellamy opened #1113 "Using the npm plugin without a NPM_TOKEN throws error after warning"
**Describe the bug**

I'm working on a GitHub action for auto: https://github.com/intuit/action

You can find my `test.yml` workflow and actions here: https://github.com/terradatum/auto-action/actions?query=workflow%3A%22Build+and+Test%22

[code]

Removed the npm plugin from the command, and it completed without error.

**To Reproduce**

Run `shipit` with the npm plugin and no NPM_TOKEN.

**Expect

[2020-04-04 10:52] rbellamy commented on #1113
Predictably, the workaround of not using the npm plugin causes other side-effects, as now the tool no longer knows how to lookup "name" and "email" for configuring git.

[2020-04-04 17:23] hipstersmoothie commented on #1113
All of the plugins under "Package Manager Plugins" are meant to be used in isolation. So when switching from the `git-tag` plugin to the `npm` plugins you would stop using the `git-tag` plugin.

<img width="436" alt="Screen Shot 2020-04-04 at 9 43 39 AM" src="https://user-images.githubusercontent.com/1192452/78456471-c4d95b00-7658-11ea-9ee3-13fbd92e3673.png">

The `npm` plugins also requires a `pa

[2020-04-04 17:41] hipstersmoothie commented on #1113
Having trouble recreating the errors you posted above. Looking at your logs it seems like the package.json existed during those runs.

I have found 2 areas to improve `shipit --dry-run` In a repo with no releases.

BEFORE

<img width="1659" alt="Screen Shot 2020-04-04 at 10 39 16 AM" src="https://user-images.githubusercontent.com/1192452/78457655-b42ce300-7660-11ea-9dcc-04b6894a9966.png">

AFTER

[2020-04-04 18:28] hipstersmoothie commented on #1113
Improvements to `--dry-run`: https://github.com/intuit/auto/pull/1114
Inclusion of first commit in changelogs : https://github.com/intuit/auto/pull/1115

[2020-04-04 19:12] rbellamy opened #1116 "Support running the tool without an .autorc file to allow changes in configuration at runtime"
**Is your feature request related to a problem? Please describe.**

As it stands today, there are some configuration parameters for the core commands that rely on the results of an inspection of the environment, either via the `.autorc` or the package management control files.

However, these core command parameters have no associated command-line representation.

In other words, I can run the too

[2020-04-04 19:19] rbellamy commented on #1113
Wow @hipstersmoothie thank you for your support. For the record, you can see that I removed the npm plugin and only ran the tool with git-tag and released.

[2020-04-04 20:55] rbellamy commented on #1113
Eagerly awaiting both builds! Looks like the `security/snyk - package.json` check is hung on both.

[2020-04-05 03:36] rbellamy commented on #1113
This works a treat now with v9.25.3. Thanks for the update.

[2020-04-05 03:36] #1113 closed

[2020-04-05 18:33] #1116 closed

[2020-04-05 18:42] adierkens commented on #1116
:rocket: Issue was released in [`v9.26.0`](https://github.com/intuit/auto/releases/tag/v9.26.0) :rocket:

[2020-04-05 23:51] rbellamy opened #1118 "Support '--access public' for initial publication of public scoped package"
**Is your feature request related to a problem? Please describe.**

When publishing a scoped public package for the first time, the `npm publish` command *must* include `--access public` or auto fails with:

[code]

https://docs.npmjs.com/creating-and-publishing-scoped-public-packages

**Describe the solution you'd like**

I think this is an npm concern, and therefore should be specific to the npm

[2020-04-06 00:14] rbellamy commented on #1118
Nevermind - sorry for the noise: https://docs.npmjs.com/files/package.json#publishconfig

[2020-04-06 00:14] #1118 closed

[2020-04-06 02:03] rbellamy opened #1119 "shipit pushes release regardless of label with --only-publish-with-release-label"
**Describe the bug**

`shipit` pushes release regardless of label with `--only-publish-with-release-label`.

This was from a push directly to master, with no labels:

[code]

And with `--dry-run`:
[code]

[2020-04-06 04:39] #1119 closed

[2020-04-06 04:47] adierkens commented on #1119
:rocket: Issue was released in [`v9.26.1`](https://github.com/intuit/auto/releases/tag/v9.26.1) :rocket:

[2020-04-06 16:51] rbellamy opened #1122 "Changelog is empty on release"
**Describe the bug**

Changelog is empty on new release, even though there are un-mentioned commit messages.

https://github.com/terradatum/auto-action/commit/71e826ac6b368e10f963295a9507e2629f6f857b

[code]

[2020-04-06 17:16] hipstersmoothie commented on #1122
Having trouble reproducing this one...

[2020-04-06 17:17] hipstersmoothie commented on #1122
ALSO: dependabot almost screwed you
![Screen Shot 2020-04-06 at 10 17 04 AM](https://user-images.githubusercontent.com/1192452/78586085-c5582a00-77ef-11ea-8190-6e9a7bbdef6f.png)

[2020-04-06 17:22] hipstersmoothie commented on #1122
dependabot context https://github.com/dependabot/feedback/issues/134#issuecomment-515426667

[2020-04-06 17:26] hipstersmoothie commented on #1122
Would you mind using `-vv` for a bit so if this issue comes up again I can debug it a little better?

[2020-04-06 18:00] hipstersmoothie commented on #1122
Looking into this further it seems like the action isn't doing a full checkout? This seems odd given older actions did the release correctly.

Here is what I get if is do the checkout in the way actions does it:

[code]

You can see the full history is not there.

Looking at your action setup it seems like you might be trying to optimize it, and in doing so not getting the full git history. In our

[2020-04-06 19:07] rbellamy commented on #1122
Gotcha. I'll do that.

[2020-04-06 19:36] rbellamy commented on #1122
Yep, that did the trick.

[2020-04-06 19:36] #1122 closed

[2020-04-14 01:29] hipstersmoothie opened #1147 "All Contributors: Add contributions in the PR"
**Is your feature request related to a problem? Please describe.**

Manage non-code contributions.

**Describe the solution you'd like**

Parse non-code contributions from the PR body

[code]

We could also automate a comment so that the person opening the PR knows if the Contributions have been parsed.

**Describe alternatives you've considered**

Manually running the command 🤮

[2020-04-14 19:23] #1147 closed

[2020-04-14 19:33] adierkens commented on #1147
:rocket: Issue was released in [`v9.27.0`](https://github.com/intuit/auto/releases/tag/v9.27.0) :rocket:

[2020-04-16 21:57] hipstersmoothie opened #1153 "Multiple canaries for same commit - local"
When I try to run `auto canary` twice in a row locally with no changes auto fails to publish a second canary.

[2020-04-16 22:05] hipstersmoothie opened #1154 "--quiet flag"
**Is your feature request related to a problem? Please describe.**

Sometimes I only want auto to output the result of an operation so I can use it in other scripts.

**Describe the solution you'd like**

1. `auto canary --quiet` - output only the canary version(s) published
2. `auto changelog --quiet` - output only the changelog
3. `auto latest --quiet` - output only the version(s) published
4. `

[2020-04-17 00:53] hipstersmoothie opened #1156 "Potential v10 Breaking Changes"
This is a tracking issue for things that could change in v10:

- ~Call canary/next hooks even for dry-runs, plugins handle it, enables better --dry-run and --quiet output. [bad code](https://github.com/intuit/auto/pull/1155/files#diff-54899627ccbe2e33cc90970d5e6d5191R1119)~
- ~rename `afterAddToChangelog` to `afterChangelog` since a changelog might not be committed~
- ~make renderChangelogLine wat

[2020-04-17 17:46] #1154 closed

[2020-04-17 18:01] adierkens commented on #1154
:rocket: Issue was released in [`v9.28.0`](https://github.com/intuit/auto/releases/tag/v9.28.0) :rocket:

[2020-04-19 15:18] jdalrymple commented on #203
My time to shine hehe, I created a library called [Gitbeaker](https://github.com/jdalrymple/gitbeaker) to do just this!

[2020-04-19 15:19] jdalrymple commented on #203
Might be smarter to split this part out into a plugin, thinking about supporting different hosting services in the future.

[2020-04-19 16:43] jdalrymple opened #1157 "Question - lerna ERR! ENOGIT Detached git HEAD within Gitlab CI"
**Describe the bug**

When running shipit, lerna errors out on the last [step](https://gitlab.com/jdalrymple/gitbeaker/-/jobs/517564586#L96)

This might be more related to lerna, as ive seen the errors reported a few times, but I was wondering if you guys had any suggestions since the lerna call is within auto?

*EDIT*: Testing locally returns different errors. Going to look into that further and

[2020-04-19 18:15] jdalrymple commented on #1157
Seems to work fine when ran locally, just not in the ci environment. hmm

[2020-04-19 19:03] hipstersmoothie commented on #1157
First, IDK how well auto can possibly work with GitLab since we *heavily* use the GitHub API. Things like looking up the pull requests, making releases, and a whole host of other things won't work as expected.

---

As for the detached head issue: Most CI envs do not checkout your code in the same way. For `auto` to work it needs a relatively complete view of the git repo. Many CI envs try to be s

[2020-04-19 19:05] hipstersmoothie commented on #203
Exactly! In an ideal world Github stuff should become a plugin and GitLab will just implement a similar interface.

Getting the types to work nicely might be hard though. there are a few places where plugins an parts of auto access octokit directly too

[2020-04-19 19:13] hipstersmoothie commented on #203
@jdalrymple your work looks super promising!

[2020-04-19 19:16] hipstersmoothie commented on #203
I think the best way to approach this is to:

1. get some of the lower hanging fruit out of the way (label, create-labels, pr-check, pr-status, pr-body, comment)
2. While doing `1` craft the base of what GitHub being a plugin looks like  so we can then tackle the deeper issues

I think I'll start with `comment`. Can you send me the appropriate APIs to create, edit and delete comments on PRs?

[2020-04-19 22:18] jdalrymple commented on #203
Heres the [Gitlab API docs](https://docs.gitlab.com/ee/api/notes.html#merge-requests)
And the corresponding [gitbeaker support](https://github.com/jdalrymple/gitbeaker/blob/master/packages/gitbeaker-core/src/services/MergeRequestNotes.ts)

Sorry for the raw source, I'm still working on getting docs up and running

[2020-04-19 22:43] jdalrymple commented on #1157
That seemed to fix that error, but now it isnt releasing due to [this](https://gitlab.com/jdalrymple/gitbeaker/-/jobs/517741900#L93) :cry:

[2020-04-20 09:31] jdalrymple commented on #1157
Did a quick search but i cant seem to figure out what causes that error message.

[2020-04-20 11:53] lucascurti opened #1158 "Chrome Extension manifest.json in .gitignore"
**Describe the bug**

I'm trying to setup `auto` to publish a Chrome Extension. I've added a Github Action that builds the extension in a `./build` folder before running `npx auto shipit`. This is the folder that will be compressed in a ZIP to be published and it's added to `.gitignore` since I don't want to commit it.

The problem is that when `npm auto shipit` runs seems it's trying to add the m

[2020-04-20 16:23] hipstersmoothie commented on #1157
That error comes from `auto`

https://github.com/intuit/auto/blob/adf4e85590a75a9fd97945b4803f3535b8c45383/packages/core/src/auto.ts#L405

It might be swallowing another error though. I can add a log to print in this function if you need it

[2020-04-20 16:26] hipstersmoothie commented on #1158
I'm pretty sure we need the manifest in the git repo (haven't used this plugin in awhile). It acts basically like the package.json so we have to modify and commit it. I don't think you  can really ignore it.

Although if what you are doing is common for chrome extension I would be open to changing the plugin so it uses git-tags for the version and the manifest is just a build artifact that doesn't

[2020-04-20 16:45] lucascurti commented on #1158
That would be awesome @hipstersmoothie. I don't know how other people is building their manifest files. In my case it's built dynamically depending on if the extension is been built for local, testing or production so it makes sense to have it inside the build folder.

I'll make a copy of the manifest outside the `build` folder and see if that works. One extra file commited is not a big problem.

[2020-04-20 16:47] jdalrymple commented on #1157
:facepalm: not sure how i missed that. Ill just modify my local node_module to see if i can see the swallowed error. Ill follow up after! Thank you for pointing it out

[2020-04-20 16:58] hipstersmoothie commented on #1158
Try running `auto shipit -d`. It should print the version that would be published

[2020-04-20 17:00] hipstersmoothie commented on #1158
It looks like it should use the tag if it's marked as the "Latest Release" on GitHub

![Screen Shot 2020-04-20 at 9 59 28 AM](https://user-images.githubusercontent.com/1192452/79778469-a082ad00-82ed-11ea-9f94-ea1cecafe359.png)

[2020-04-20 17:04] hipstersmoothie commented on #1157
https://github.com/intuit/auto/pull/1159

[2020-04-20 17:42] jdalrymple commented on #1157
Is it possible the `-silent` flag should be `--silent` ?

https://gitlab.com/jdalrymple/gitbeaker/-/jobs/518962749#L1391

[2020-04-20 17:54] hipstersmoothie commented on #1157
Oh man 🤦 I must have deleted a `-`

https://github.com/intuit/auto/pull/1160

[2020-04-20 17:56] hipstersmoothie commented on #1157
New features can be buggy 😓 Next release should have fixed the --quiet flag

[2020-04-20 18:14] hipstersmoothie commented on #1157
Once this publishes it should be good https://github.com/intuit/auto/pull/1161/files

[2020-04-20 18:51] jdalrymple commented on #1157
Another problem fixed butttt [hehe](https://gitlab.com/jdalrymple/gitbeaker/-/jobs/519038782#L1456) Any other suggestions?

[2020-04-20 19:51] hipstersmoothie commented on #1157
You seem to still be on an old canary `"auto" version: v9.28.2-canary.1160.15021.0` and not the last released version

[2020-04-20 21:30] jdalrymple commented on #1157
Oops! just fixed that. Still having [bad luck](https://gitlab.com/jdalrymple/gitbeaker/-/jobs/519270236#L1591) :( Now with  Error: Command failed: git merge-base --is-ancestor :cry:

[2020-04-21 10:50] jdalrymple commented on #1157
Hmm reading over the logs again, is it possible its using the wrong [remote url](https://gitlab.com/jdalrymple/gitbeaker/-/jobs/520010730#L223)?

` ℹ  info      Using remote: https://gitlab-ci-token:[MASKED]@gitlab.com/jdalrymple/gitbeaker.git`

[2020-04-21 13:27] jdalrymple commented on #1157
So i worked a way around this error by explicitly setting the remote url. Kinda of hacky, but it would work for now. Trying to fix a weird npm error [now](https://gitlab.com/jdalrymple/gitbeaker/-/jobs/520263409#L9241). So close :/

[2020-04-21 13:32] lucascurti commented on #1158
@hipstersmoothie Thanks for your help with this one. I've been playing a bit with it and I got it working after some changes.

I ended up creating a `manifest.json` in the root folder and changed `.autorc to:
[code]
Since `auto` won't change the `manifest.json` inside `./build` this means that the `manifest.json` in `build` folder must be built with the version that I'll end up after `auto` runs.

[2020-04-21 14:17] jdalrymple commented on #1157
It worked!!! Had to explicitly set some things but yay! Thanks for the help!!

[2020-04-21 14:17] #1157 closed

[2020-04-21 18:41] hipstersmoothie commented on #1158
How about if `auto` copied the manifest into the build folder?

I wouldn't be opposed to it. It doesn't seem like the manifest ends up in the chrome extension as it stands now and that seems wrong.

[2020-04-21 18:47] hipstersmoothie commented on #1157
Building on GitLab is probably the source of most of these problems. As you found with the remote CI services tend to make a bunch of different assumptions.

That said we might be able to improve the remote logic and detect when we are on gitlab CI.

Here is where you would change the code to figure out the remote https://github.com/intuit/auto/blob/master/packages/core/src/auto.ts#L556

[2020-04-21 18:49] jdalrymple commented on #1157
Ill make a another release in about 10 min so you can see what ends up happening, but the last release that was made i had to manually add the github release notes.

[2020-04-21 18:51] hipstersmoothie commented on #1157
can you get me the full log for that? I'm looking at one now but it truncates

https://storage.googleapis.com/gitlab-gprd-artifacts/f8/ab/f8ab07c2ce3c8a4bb3a9aaeebf31a988f9b5635c0675940782abde05ff493a87/2020_04_21/520424876/564920430/job.log?response-content-type=text%2Fplain%3B%20charset%3Dutf-8&response-content-disposition=inline&GoogleAccessId=gitlab-object-storage-prd@gitlab-production.iam.gse

[2020-04-21 19:02] hipstersmoothie commented on #1157
I think you need to up the `output_limit` https://docs.gitlab.com/runner/configuration/advanced-configuration.html

[2020-04-21 19:11] jdalrymple commented on #1157
Looking into modifying that limit now. It looks like it errors when trying to get the [git log](https://gitlab.com/jdalrymple/gitbeaker/-/jobs/520365119#L10538) AH, it is using a tag with the prefix 'v' but my lerna config excludes the prefix?

[code]

shouldnt it be looking for commits from the tag to head, so in this case 17.0.3 to HEAD?

[2020-04-21 19:29] hipstersmoothie commented on #1157
This is because auto defaults to `v` prefixes. I just opened a PR that will make auto respect the lerna config

https://github.com/intuit/auto/pull/1170

[2020-04-21 19:29] hipstersmoothie commented on #1157
You could also just set `noVersionPrefix` in your auto config. but I think automating this is better

[2020-04-21 19:56] jdalrymple commented on #1157
Would that be the better way to define that configuration? Probably eh?

[2020-04-21 19:58] hipstersmoothie commented on #1157
The thing is you would also have to set the lerna config too

https://github.com/intuit/auto/pull/1170

I made it automatic so you should just need to upgrade auto

[2020-04-21 20:02] hipstersmoothie commented on #1157
You might need to edit the last tag/release to not have the `v` prefix

[2020-04-21 21:03] jdalrymple commented on #1157
Ill check that! thanks!

[2020-04-22 10:08] lucascurti commented on #1158
Copying the manifest to the build folder if the paths are different in the `.autorc` file should work.

Another thing I noticed is that auto is bumping the version in the manifest instead of using the last repo tag.
https://github.com/intuit/auto/blob/727fe80a96fbfdca0a4159945b0b61b579365484/plugins/chrome/src/index.ts#L149

What do you think about using the last git tag for bumping? I feel that u

[2020-04-22 16:00] hipstersmoothie commented on #1158
Yeah thats a valid strategy (the git-tag plugin does that) Doesn't the manifest version have to be correct though? It seems like auto should be updating it.

[2020-04-22 16:28] lucascurti commented on #1158
Yes. You are correct. The manifest version should be correct and auto is updating it without problem. The problem only might occur if someone manually update the version in the manifest by mistake which will cause a mismatch between the tag and the extension version. Having the tags as a single source of truth will leave no room for errors. Not a deal breaker but better safe than sorry.

[2020-04-22 16:52] hipstersmoothie commented on #1158
That should be simple enough. So the two things I'm gathering that I should add are:

1. compare the latest tag to the manifest.version, take the higher version
1. copy the manifest to the build folder once versioned

Just a note: If you're using `auto` never touch that version! Good to have fallbacks though

[2020-04-22 17:10] lucascurti commented on #1158
Awesome.

1. I think it should be OK to take the higher version after comparing them as long as the new tag is updated to match the manifest version if `manifest version > latest tag version`. If this is to much of a hassle I would go with the latest tag and don't even care of what version is sent in the manifest.
2. ✅

[2020-04-22 17:59] #1158 closed

[2020-04-22 18:26] hipstersmoothie commented on #1158
@lucascurti Try out `v9.30.0`

[2020-04-26 05:05] hipstersmoothie opened #1173 "Upload Assets Canaries"
**Is your feature request related to a problem? Please describe.**

I want to be able to have canary builds of the `auto` binary

**Describe the solution you'd like**

A plugin that somehow creates canary binaries and posts them to the PR

[2020-05-01 15:17] zephraph commented on #917
Going back and reading through this again, I'm actually pretty excited! The multiple tags prefixed w/ the package name sound really good. Also, I really like the `packages` field.

[2020-05-01 15:45] jdalrymple opened #1186 "Question: How to incorporate npm scripts into release process"
**Description**

For example, when auto updates the changelog etc, is it possible to trigger a linting fix script? This would normally be done by husky or lint-staged locally.

**Describe the solution you'd like**

This probably could be done through the exec plugin, I'm just not sure how exactly, or which hook

**Describe alternatives you've considered**

Could call each of the commands in the sh

[2020-05-01 16:13] hipstersmoothie commented on #1186
There are two methods:

1. using the npm lifecycle: preversion, postversion, prepublish, etc
2. using auto's lifecycle: hooks

This would work but you would lose out on `shipit` and it's features.

You're right!

The following would run lint right before the changelog is commited and stage the files

[code]

Or if you want a separate commit for the lint fixes

[code]

Is this what you're trying to

[2020-05-01 16:27] jdalrymple commented on #1186
Thank you! Yea the problem I was running into was when auto updated the changelog it would use different styling which caused my linting to fail for every build downstream. So my thought was why not just fix the linting for the commits that auto creates during the process?

[2020-05-01 16:44] hipstersmoothie commented on #1186
the easiest way might be to just ignore linting for `**/CHANGELOG.md` or if you think the fixes would be nice for everyone contribute them!

[2020-05-01 18:25] jdalrymple commented on #1186
True! Here is the list:

1. Prettier has a different styling for nested links:
[code]

2. Prettier also converts the lerna json without the expanded array:
[code]

3. There is an extra space for the "Push to master" line

[code]

4. And finally the all-contributors gets an extra line between these two comments:
[code]

Out of all of these, i think 3 could be a PR, but im unsure about the rest.

[2020-05-01 18:51] zephraph opened #1187 "On new projects, there's a git tags error when launching PRs"
**Describe the bug**

Here's a build error: https://app.circleci.com/pipelines/github/artsy/next/4/workflows/0310105f-0602-4f77-b43c-143083e420bf/jobs/7/steps

And the message that is given

[code]

**To Reproduce**

Create a new repo without tags, open a PR that tries to deploy a canary

**Expected behavior**

Either
1. It catches the error and tells the user what actions to take (create a releas

[2020-05-01 19:35] hipstersmoothie commented on #1186
`1` might be fixable. I can tak a look

`2` is lerna itself doing it. they use JSON.stringify which has different standards

`3` is easily fixable

`4` would probably be a pr to all-contributors-cli? im unsure

[2020-05-01 21:59] jdalrymple commented on #1186
I wouldnt worry to much over it. Besides the small adjustment for 3, and maybe 1. The rest could just opinionated.

[2020-05-02 21:09] kevinwolfdev commented on #1187
I spent a lot of time yesterday dealing with this too. I have a package where I wanted to release only canaries until I reach a good shape for v1.0.0.

[2020-05-02 21:21] hipstersmoothie commented on #1187
I'll take a look at this today!

[2020-05-02 22:46] kevinwolfdev commented on #1187
@hipstersmoothie is it possible to start a package with `0.0.0` (while on development, but still continuously releasing to canary), and then when it is on good shape release to `1.0.0`? I was testing this yesterday (without releasing to canary, just to `latest). And when I wanted to merge the “final” pr and added the `major` tag to it, the version got bumped to `2.0.0`.

[2020-05-02 23:06] hipstersmoothie commented on #1187
Yup. If `auto` is unable to find a version it will use `0.0.0` as the start.

If the version was `1.0.0` and you merged a pr with `major` the result would be `2.0.0`.

When I start publishing a package with `auto` I usually make sure the version to `0.0.0` or something in the `0.x` range.

[2020-05-02 23:07] hipstersmoothie commented on #1187
BTW Thanks for choosing `auto` to do your releases! any and all feedback is welcome

[2020-05-02 23:11] #1187 closed

[2020-05-02 23:12] kevinwolfdev commented on #1187
Thanks! I will try it. And the weird thing is that it was releasing all PRs on `0.x.0`, but when I marked one to be `major`, it jumped to `2.0.0`. Will create a repo later to try to replicate the behavior.

[2020-05-02 23:14] hipstersmoothie commented on #1187
If you have the logs for it I can try to deduce what happened

[2020-05-02 23:23] adierkens commented on #1187
:rocket: Issue was released in [`v9.30.4`](https://github.com/intuit/auto/releases/tag/v9.30.4) :rocket:

[2020-05-03 01:21] kevinwolfdev opened #1189 "Plugin idea: commit analyzer"
**Is your feature request related to a problem? Please describe.**

When committing directly to the default branch, the commit is being added under the "committed directly to master" section, which (imo) produces a not so fancy changelog.

(I know this can be solved by just creating PRs against default branch and labeling them, but on a solo scenario, it feels a little weird.

**Describe the solut

[2020-05-03 01:46] kevinwolfdev opened #1190 "Avoid commenting on PR if --pr flag is not provided"
**Describe the bug**

While trying to release to canary from my default branch, I am receiving an error:

[code]

**To Reproduce**

1. Create a new repo
2. Configure the CI to run `auto canary` instead of `auto shipit`
3. Commit and push something to `master`.

**Expected behavior**

What I expect is only a normal release, without attempting to comment on the PR.

**Screenshots**

N/A

**Environme

[2020-05-03 02:48] #1190 closed

[2020-05-03 02:56] adierkens commented on #1190
:rocket: Issue was released in [`v9.30.5`](https://github.com/intuit/auto/releases/tag/v9.30.5) :rocket:

[2020-05-04 14:26] brunobertoldi opened #1192 "Option to skip Changelog step on shipit command"
**Is your feature request related to a problem? Please describe.**

No, it's just an option to skip Changelog generation and maybe other `shipit` steps.
In some workflows, it would keep the `master` branch history clean and the branches up-to-date.

**Describe the solution you'd like**

IMHO, a [flag on shipit command](https://intuit.github.io/auto/pages/generated/shipit.html#options) would be the

[2020-05-04 17:44] #1192 closed

[2020-05-04 17:54] adierkens commented on #1192
:rocket: Issue was released in [`v9.31.0`](https://github.com/intuit/auto/releases/tag/v9.31.0) :rocket:

[2020-05-06 19:29] lucascurti commented on #1158
hey @hipstersmoothie . Sorry for the delay. I wasn't able to look into this until now. Seems `auto` is not copying the updated `manifest.json` to the build folder

[code]
The `manifest.json` file outside the build folder is correctly versioned to 0.5.0 after applying a minor label.

[2020-05-09 01:43] bmuenzenmeyer commented on #84
I'm doing this right now - is there any way I can help get this further?

[2020-05-11 16:22] hipstersmoothie commented on #84
I'll accept any PR that adds documentation for this. I've already gone through the codebase and added jsDoc to most functions so it should be apparent what things do.

The best file to look at is probably [this one](https://github.com/intuit/auto/blob/master/packages/cli/src/run.ts#L24) that's how I would probably end up using the API

[2020-05-13 12:06] lucascurti commented on #1158
I spoke too soon @hipstersmoothie .There was a problem in my setup. I read the code you updated and setup my logic accordingly and everything is running smooth now. Thanks!

[2020-05-13 16:05] hipstersmoothie commented on #1158
awesome! sorry I couldn't circle back.

[2020-05-15 21:14] bmuenzenmeyer opened #1214 "NPM Plugin: Pass exact flag to lerna publish"
**Describe the bug**

The lerna docs state that the --exact flag is supported in both [publish](https://github.com/lerna/lerna/tree/master/commands/publish#options) and [version](https://github.com/lerna/lerna/tree/master/commands/version#--exact) commands. It seems, however, that they each handle the flag differently depending on the architecture of the monorepo, specifically around dependencies

[2020-05-15 21:24] hipstersmoothie commented on #1214
Nice catch! PR incoming.

That particular hook is an `AsyncParallelHook` so you wouldn't be able to replace the behavior.

[2020-05-15 21:50] #1214 closed

[2020-05-15 21:59] adierkens commented on #1214
:rocket: Issue was released in [`v9.32.2`](https://github.com/intuit/auto/releases/tag/v9.32.2) :rocket:

[2020-05-18 18:06] hipstersmoothie opened #1224 "Add test to ensure that build bundled auto still works"
**Describe the bug**

There currently are no tests that ensure that this behavior doesn't break from release to release.

[2020-05-18 20:07] #1224 closed

[2020-05-19 16:18] bmuenzenmeyer opened #1234 "Support .autorc.js config file"
**Is your feature request related to a problem? Please describe.**

[Cosmiconfig](https://github.com/davidtheclark/cosmiconfig#readme) supports javascript config files, but [auto is limited in its search places](https://github.com/intuit/auto/blob/master/packages/core/src/config.ts#L67-L73). It's nice to have comments (superior to `.json`) and logic if needed.

**Describe the solution you'd like**

[2020-05-19 16:20] hipstersmoothie commented on #1234
@zephraph What was the reason we disallowed `.autorc.js`? Some limitation of GitHub app right? maybe we should allow `.js` and if they want to use autobot then must switch to another format.

[2020-05-19 16:22] zephraph commented on #1234
Yeah, the purpose was really because js files aren’t statically analyzable in the same way.

I’m 👍 if you want to re-enable that though.

[2020-05-19 16:24] bmuenzenmeyer commented on #1234
yea someone could easily use `require` or `import` within one, complicating life I suppose (part of the draw too, IMO)

[2020-05-19 16:47] #1234 closed

[2020-05-19 17:00] adierkens commented on #1234
:rocket: Issue was released in [`v9.34.0`](https://github.com/intuit/auto/releases/tag/v9.34.0) :rocket:

[2020-05-19 19:59] kai-tub opened #1237 "Question: How to use in non-js settings?"
Hi,

First of all, this package looks amazing!
But I am not sure how well it fits my needs.
What I can tell from the documentation it does everything I would like to do (a lot more than that),
but I've never worked with JS and NPM. I am using GitHub actions as a CI/CD pipeline for my project: a GitHub action, which is nothing more than a shell script.

After running `auto init` I got my configured

[2020-05-19 20:05] hipstersmoothie commented on #1237
Have you seen this doc?

https://intuit.github.io/auto/pages/non-npm.html

[2020-05-19 20:06] hipstersmoothie commented on #1237
From what you've provided it looks like you tried installing auto through `npm`. It's a bit better to follow this doc

[2020-05-19 20:07] hipstersmoothie commented on #1237
What type of project are you trying to release?

[2020-05-19 20:24] kai-tub commented on #1237
No.. 🙁
I looked at the [github action page](https://intuit.github.io/auto/pages/build-platforms/github-actions.html) and missed the explanation at the top...

Now everything works as expected.
Sorry for the inconvenience, the issue can be closed. :)

[2020-05-19 20:35] #1237 closed

[2020-05-21 15:09] rbellamy opened #1239 "create-labels should use the same colors"
**Is your feature request related to a problem? Please describe.**

I just ran `create-labels` for the second time, and the two projects have different label colors.

**Describe the solution you'd like**

For consistency, I'd like the labels to be the same color each time I initialize them.

**Describe alternatives you've considered**

Alternatively, support exporting the colors of an already-conf

[2020-05-21 15:16] rbellamy commented on #1239
Answering my own question about re-running `create-labels`.

Went here: https://gist.github.com/MoOx/93c2853fee760f42d97f#gistcomment-3069259

Exported labels, added the JSON to my `.autorc` file, re-ran `create-labels` - colors are still different.

[2020-05-21 15:19] rbellamy commented on #1239
To get the colors correct:
1. Delete all previous labels
2. Re-run `create-labels` with the desired colors in `.autorc`.

[2020-05-21 16:25] lshadler opened #1240 "Github Pages prerelease folders"
**Is your feature request related to a problem? Please describe.**

Not related to a problem :)

**Describe the solution you'd like**

Some repositories managed by `auto` are only designed for creating a Github Pages page. When I create a prerelease or canary branch, I would want to be able to allow other people to see the release for testing or bug reporting.

I propose that prerelease branches s

[2020-05-21 20:40] hipstersmoothie commented on #1239
Where we update labels: https://github.com/intuit/auto/blob/master/packages/core/src/release.ts#L454

The actual update function
https://github.com/intuit/auto/blob/master/packages/core/src/git.ts#L548

It should update the labels if it can I can look into what's happening later

You can do this with a shared `.autorc` already.

[code]

[2020-05-21 20:54] rbellamy commented on #1239
I've already done the work to get a shared `.autorc` and use it... my reason for requesting the feature is that the current functionality of `create-labels` isn't consistent. It doesn't require an `.autorc` file in order to set labels, and therefore shouldn't require it to set those labels colors to default values.

Another way of saying this is: if `create-labels` is intelligent enough to have pr

[2020-05-21 21:50] hipstersmoothie commented on #1239
Ah yeah. we could probably ship with some defaults and it would avoid this issue

[2020-05-21 21:53] hipstersmoothie commented on #1239
my preferred colors for the semver labels (matches auto's colors):

- patch - #870048
- minor - #F1A60E
- major - #C5000B

still needs defaults

- skip-release - orange
- release - green
- internal - dark grey
- documentation - light grey

[2020-05-22 18:23] hipstersmoothie commented on #1186
@jdalrymple Where does `auto` use nested links? I can't find any in my changlelogs

[2020-05-22 18:28] kai-tub opened #1245 "Running as GitHub action using 2FA creates issues"
**Describe the bug**

I am still new to this library and I am not 100% sure if this is actually causing the issue.
I am using it in a non-node setting.
Yesterday I could use the following yml for my project without any problems:

[code]

Today I am getting this error:

[code]

The only thing that has changed from yesterday to today is that I've enabled 2FA.
I am using the Authy app if it makes any

[2020-05-22 18:32] jdalrymple commented on #1186
I think i found the problem. I was making commits like: "Linting [skip-ci]", which resulted in this in the changelog:

[code]

I think this ones on me lol :sweat_smile:

[2020-05-22 19:08] hipstersmoothie commented on #1186
Thanks for the response! #1246 should address `3` and a few other things.

[2020-05-22 19:13] hipstersmoothie commented on #1245
can you try changing this line?

[code]

The default token should have enough permission to do this.

For reference I have 2fa enabled on my GitHub account and have gotten `auto` to release though github-actions.

[2020-05-22 19:14] hipstersmoothie commented on #1245
I'll try to get a minimal auto-gh-actions sample together

[2020-05-22 19:26] #1186 closed

[2020-05-22 19:32] kai-tub commented on #1245
I am getting the same error:

[code]

[2020-05-22 19:53] kai-tub commented on #1245
I am noticing more weird errors on GitHub.
Maybe the issue lies on GitHub?
https://www.githubstatus.com/incidents/6tcfpztf6j9m

[2020-05-22 20:46] hipstersmoothie commented on #1245
Forked you repo and I can't even get it to build https://github.com/hipstersmoothie/github_action_tester_others/actions

[2020-05-22 20:46] hipstersmoothie commented on #1245
The action doesn't even start so this might be a GitHub issue

[2020-05-23 07:15] kai-tub commented on #1245
After GitHub released their fixes everything is working now as expected.
I always get the perfect timing for the weirdest bugs... 😅
Nevertheless, thanks for your, amazingly fast, help. :)

[2020-05-23 07:15] #1245 closed

[2020-05-26 18:29] rbellamy opened #1260 "Remove requirement for maven-release-plugin"
I've begun the work of refactoring the `auto` `maven` plugin to try to be more consistent with the rest of `auto`. In doing so, I've come to some conclusions.

The current requirement for `auto` with the `maven` plugin is that the project use the `maven-release-plugin`. This has several consequences which make it a poor fit for `auto`.

The primary functionality of the `maven-release-plugin` execu

[2020-05-26 18:40] hipstersmoothie commented on #1260
I completely agree!

Most of your points with info I get from the pom.xml is probably tied to my misunderstanding of those fields. Any changes here are more than welcome.

I'm all for any breaking changes we have to do. We can probably roll some of the smaller breaking changes detailed in #1156

[2020-05-26 20:16] rbellamy commented on #1260
It looks like my two points about `<scm/>` and `<developers/>` are incorrect. It looks like the `npm` plugin pulls those from the `package.json`. Does this mean that they _should_ be located in the `pom.xml`?

[2020-05-26 20:49] hipstersmoothie commented on #1260
If those are the `pom` equivalents of the npm `repository` and `author` fields then yes.

This is true for the npm plugin as well. Locally auto will not override your `git` configuration, but in a CI env it might have to set the `author` to commit`.

Would this be different? In npm world the `repository` field usually points to the code for the package. In practice one usually doesn't run `auto` o

[2020-05-26 21:09] rbellamy commented on #1260
Okay, that makes sense - so the proper behavior is to look for those things (current), and if they're NOT found in the `pom.xml`, return and assume they've been set in the `.autorc` (new behavior).

Currently, the plugin will error if it doesn't find the `<scm/>` and `<developers/>` sections in the `pom.xml`.

[2020-05-26 21:28] hipstersmoothie commented on #1260
Ah yeah that's definitely a bug. It should not throw errors https://github.com/intuit/auto/blob/master/plugins/npm/src/index.ts#L504

[2020-05-26 23:14] rbellamy commented on #1260
Is there a way to get the version NUMBER from `auto` in a machine-readable fashion? I was surprised that the `auto version` command produces the TYPE of version bump, rather than the number.

[2020-05-27 00:05] hipstersmoothie commented on #1260
You can use `--quiet` and it will only print the version produced by the command. or pair it with `--dry-run` and you can see what version will be published next.

I would might be willing to add a flag to make `version` spit out the actual version. This just gets weird in multi package scenarios

[2020-05-27 01:11] rbellamy commented on #1260
I can see that. It's probably better to leave that to the caller to figure out which version it's looking for.

[2020-05-27 07:43] gaurivn commented on #1239
I would like to work on this issue.

[2020-05-27 15:19] hipstersmoothie commented on #1239
Go for it!

[2020-05-27 16:11] gaurivn commented on #1239
Thank you

[2020-05-27 16:30] bnigh commented on #1054
@hipstersmoothie
Do you have any details of how this would be implemented / how it would look in practice?

Also, I'm not sure I'm understanding what `merge into a tag` means... could you potentially clarify? My understanding was that you could only create a PR with a branch as a target.

[2020-05-27 16:47] hipstersmoothie commented on #1054
No, I haven't really though about the problem too much.

The ui led me to believe that you might be able to merge into a tag, but upon further review this doesn't seem to be possible. If we could though this would make this possible.

Remembering a little though, I think this is what I was thinking:

1. Tag 1.2.3 exists, current version is 2.0
2. PR is made into tag 1.2.3, produces 1.2.3-0 (the 0

[2020-05-27 17:36] bnigh commented on #1054
ok, utilizing build part of semver definitely makes sense.

If it is not possible to make a PR directly to a tag, then this flow may require repo owners to create a branch from a tag on the upstream branch (target branch for PR). It would be slightly annoying, but I'm not sure if there would be a better alternative. Additionally, these types of releases are likely not common, so maybe this would b

[2020-05-27 18:31] hipstersmoothie commented on #1054
I like the idea but in practice I don't think it would be all that fun to use. Since `auto` releases a lot you would end up with a crazy number of branches.

I agree that this type of release is out of the norm. that makes automated branch creation less useful. You'd get lots of noise (more branches) without using them all that much, if ever.

---

As for your proposed flow above that seems to wor

[2020-05-27 18:48] hipstersmoothie commented on #1054
Are you interested in trying to add this?

[2020-05-27 22:33] bnigh commented on #1054
oops, meant it was similar to old major support in terms of having a branch-prefix config. Definitely agree that automatically creating branches would create too much noise, especially with frequent releasing, 😆

yep. I think that would largely encapsulate the changes required.

High level, I think 1 makes sense as well. I would need to trace through the code to have a better understanding of whic

[2020-05-27 22:54] hipstersmoothie commented on #1054
Awesome! No planned work on this one so it's all you

[2020-05-27 23:36] 10hendersonm opened #1261 "[determineNextVersion] lte fails when currentVersion was sourced from first Git commit"
The [`npm` plugin is calling `getLastTagNotInBaseBranch`](https://github.com/intuit/auto/blob/master/plugins/npm/src/index.ts#L817-L833), however [that code falls off to the first Git commit](https://github.com/intuit/auto/blob/master/packages/core/src/git.ts#L876) if it can't find a tag. This value is passed as `currentVersion` to `getLastTagNotInBaseBranch`, which is throwing when it attempts to

[2020-05-28 00:04] hipstersmoothie commented on #1261
I recently made this change but didn't account for this. I think the code I added [here](https://github.com/intuit/auto/blob/master/packages/core/src/git.ts#L876) should not have returned the first commit since it isn't a tag. Undefined makes more sense, [https://github.com/intuit/auto/blob/9a3c6561453b881773316974f6adb0ed0df347d3/packages/core/src/auto.ts#L1247] this is where it should have falle

[2020-05-28 19:25] hipstersmoothie opened #1263 "Next Branch improvements"
- When a `preRelease` branch is merged into the `baseBranch` the `preRelease` branch should be updated to point to master

[2020-05-28 19:39] hipstersmoothie commented on #1263
On second though you probably want those merged included since that is the first time they are being released on the pre release branch.

[2020-05-28 19:43] hipstersmoothie commented on #1263
also not all that sure that this is needed. I need to use next releases more first

[2020-05-28 23:05] #1261 closed

[2020-05-28 23:17] adierkens commented on #1261
:rocket: Issue was released in [`v9.36.4`](https://github.com/intuit/auto/releases/tag/v9.36.4) :rocket:

[2020-05-29 21:36] kai-tub opened #1266 "Confusing documentation for hooks"
**Describe the bug**

I am currently trying to use the `exec` plugin in combination with the [`afterAddToChangelog`](https://intuit.github.io/auto/pages/plugins/release-lifecycle-hooks.html#afteraddtochangelog) or the [`beforeCommitChangelog`](https://intuit.github.io/auto/pages/plugins/release-lifecycle-hooks.html#beforecommitchangelog) hook.

I am using auto in a none-npm setting in a GitHub act

[2020-05-29 22:09] hipstersmoothie commented on #1266
`lastRelease` is the "latest Release" on Github.
`currentVersion` is the current version of the local repo.

There is a chance for these values to get out of sync that's why they are different. If you notice `bump` has either `patch`, `minor`, or `major`.  In core we apply the bump to the `lastRelease` if it's valid semver, else we fallback to applying the bump to the currentVersion which will alw

[2020-05-29 22:12] hipstersmoothie commented on #1266
To accomplish that semver bump you could do something like

[code]

But this requires node. You might be able to find a non-node package to do this math

[2020-05-29 22:26] kai-tub commented on #1266
Ah I see. Thanks for clearing it up!
(Btw that was an amazingly fast answer)

Yes, the version calculation itself is not a big issue. I just assumed that one of these would've had the bump applied and found the documentation unclear.

Thanks again!

[2020-05-29 23:19] #1266 closed

[2020-05-30 06:39] klaygomes opened #1267 "Permit --legacyAuth to NPM Plugin"
**Is your feature request related to a problem? Please describe.**

All jfrog documentation is around using legacy auth.

**Describe the solution you'd like**

Include `--legacy-auth` option as lerna did https://github.com/agirton/lerna/blob/688f38fadb991874535483e73aad75277c6f865b/commands/publish/index.js#L119

**Describe alternatives you've considered**

**Additional context**

[2020-05-30 19:08] hipstersmoothie commented on #1267
@klaygomes could you try our this PR https://github.com/intuit/auto/pull/1268

`9.37.1-canary.1268.16194.0`

You'll need to change `auto` to `@auto-canary/auto` and all plugins from `@auto-it` to `@auto-canary`

[2020-05-31 01:16] klaygomes commented on #1267
It worked very well!
![image](https://user-images.githubusercontent.com/522884/83342105-7d222900-a2c1-11ea-833c-d9782942ba30.png)

For everyone trying to configure jFrog to use with Auto, below is how I achieve it:

![image](https://user-images.githubusercontent.com/522884/83342122-b064b800-a2c1-11ea-97dc-11fd6223add9.png)

On CI, I create a `.npmrc` as I'm used to:

[code]

Just before calling `a

[2020-05-31 23:44] #1267 closed

[2020-05-31 23:56] adierkens commented on #1267
:rocket: Issue was released in [`v9.38.0`](https://github.com/intuit/auto/releases/tag/v9.38.0) :rocket:

[2020-06-01 17:26] rbellamy commented on #1260
Your point about multi-package scenarios is pertinent here - the maven-release-plugin supports that type of scenario, out-of-the-box. This makes me question whether I would want to reproduce that work. I'm finding myself at a bit of an impasse - on the one hand, my argument for NOT using the maven-release-plugin is valid, while on the other, things like submodule version management is a non-trivia

[2020-06-02 17:57] bmuenzenmeyer commented on #1054
FWIW - I was going to attempt to construct this as a plugin by doing exactly what you regarded as an inferior choice - making a `version-MAJOR-MINOR` branch. It doesn't feel like too much noise over our current process, TBH. We already create branches for each release line.

A major portion of `versionBranches` right now is [this plugin](https://github.com/intuit/auto/blob/master/packages/core/src

[2020-06-02 18:35] bmuenzenmeyer opened #1270 "versionBranches fails on new major if branch does not exist"
**Describe the bug**

I have `versionBranches: true` set in my auto config, and expect new `MAJOR`-labeled releases to create a branch to track the new release line.

**To Reproduce**

* `.autorc.js`

[code]

1. merge a PR with `MAJOR` into `master`
1. `npx auto`

**Expected behavior**

`auto` creates a new branch to track the major version line

**Environment information:**

[code]

**Additional

[2020-06-03 11:55] bmuenzenmeyer commented on #1270
I pushed a `version-7` branch to remote and this still didn't work - so not quite sure what's wrong yet. still digging.

[2020-06-03 16:08] hipstersmoothie commented on #1054
That's part of the what happens for old release but then this check in `shipit` also has to pass

https://github.com/intuit/auto/blob/f37945b45b7fef6ffdb00ffa0250de449e02b883/packages/core/src/auto.ts#L1442

Which then goes to here and basically just overrides where to start calculating the release from

https://github.com/intuit/auto/blob/f37945b45b7fef6ffdb00ffa0250de449e02b883/packages/core/src

[2020-06-03 16:08] hipstersmoothie commented on #1270
I'll take a look at this later today!

[2020-06-03 19:08] rbellamy commented on #1260
@hipstersmoothie I have a question about the `getAuthor`, `getRepo`, etc. hooks behavior - RE: the comment about https://github.com/intuit/auto/issues/1260#issuecomment-634280655, I'm looking at the tests and they seem to contradict that.

Example:
https://github.com/intuit/auto/blob/47d3b54ef1a7af990fe0ca898e747dd833fde3b1/plugins/maven/__tests__/maven.test.ts#L95

So, when I return an `undefined

[2020-06-03 19:42] hipstersmoothie commented on #1260
That's definitely wrong given how all the other plugins work. Returning undefined is the right way. That way `core` can fall back to the local configured `git` user if necassary

[2020-06-03 20:11] 10hendersonm opened #1272 "[getLastTagNotInBaseBranch] `next` breaks when tags are created per-package in an independent monorepo"
**Describe the bug**

Running `npx auto shipit` against `origin/next`, [`auto.next` is calling `getLastTagNotInBaseBranch `](https://github.com/intuit/auto/blob/master/packages/core/src/auto.ts#L1258), which throws when trying to run [semver's `gt` or `lt` against a tag like `@demo/core@1.2.3`](https://github.com/intuit/auto/blob/47d3b54ef1a7af990fe0ca898e747dd833fde3b1/packages/core/src/git.ts#L8

[2020-06-03 20:22] 10hendersonm commented on #1272
Here's an example test to validate this (injected [here](https://github.com/intuit/auto/blob/47d3b54ef1a7af990fe0ca898e747dd833fde3b1/packages/core/src/__tests__/git.test.ts#L129-L171)). I don't know what the snapshot value should be (see the questions above), but the test fails via throw before it gets that far currently.

[code]

[2020-06-03 20:40] bmuenzenmeyer commented on #1272
this blocked me for a long time too, and then I started writing a plugin that made a lot of assumptions and essentially got us into a quasi-fixed mode anyways, because it was always looking for a specific entrypoint package as the needle in our haystack, such as `@monorepo/core`

[2020-06-03 20:49] hipstersmoothie commented on #1272
I'm not sure. Gotta play around with this

We support multiple pre release branches. So thats why we try to find the greatest one in the branch. But to your point maybe this could just the latest tag and not try to find the "greatest" one

In `next` that tag is only used to calculate the commits in the release + generate release notes. Most of the work done here is done by `lerna` in the `npm` plu

[2020-06-03 21:35] rbellamy commented on #1260
Gotcha - that's what I figured, so I've modified the tests to ensure failed hooks return `undefined`.

[2020-06-03 22:01] hipstersmoothie commented on #1272
Keeping this issue open for discussion and other problems/question you guys might have

[2020-06-03 22:13] adierkens commented on #1272
:rocket: Issue was released in [`v9.38.1`](https://github.com/intuit/auto/releases/tag/v9.38.1) :rocket:

[2020-06-03 22:21] klaygomes opened #1274 "auto canary --force bug"
If we configure our project with `onlyPublishWithReleaseLabel` and force a canary we get a lerna error.

The problem is with this function being called with "bump" as empty
https://github.com/intuit/auto/blob/master/plugins/npm/src/index.ts#L715

It happens because of this:
https://github.com/intuit/auto/blob/master/packages/core/src/semver.ts#L69

[2020-06-03 22:44] #1274 closed

[2020-06-03 22:53] adierkens commented on #1274
:rocket: Issue was released in [`v9.38.2`](https://github.com/intuit/auto/releases/tag/v9.38.2) :rocket:

[2020-06-03 23:13] rbellamy opened #1276 "gradle plugin should not throw an error if a version is not found"
**Describe the bug**

If there is no version property found, the gradle plugin throws an error.

**To Reproduce**

https://github.com/intuit/auto/blob/38a12a819c6594e6687aa21c10b9ff6bddf22ec0/plugins/gradle/src/index.ts#L80

https://github.com/intuit/auto/blob/38a12a819c6594e6687aa21c10b9ff6bddf22ec0/plugins/gradle/__tests__/gradle.test.ts#L41-L46

**Expected behavior**

Like the npm plugin, if it

[2020-06-03 23:28] rbellamy commented on #1260
Looks like both the gradle and the cocoapods plugins throw errors if they can't find a version. I created a bug for the gradle plugin - do you want another for cocoapods?

[2020-06-04 02:53] hipstersmoothie commented on #1260
Just leave a not on the issue. Thanks for the catch!

[2020-06-04 13:51] 10hendersonm commented on #1272
Worked great! We'll do some further validation today. We're still deciding if we should pivot our project to `fixed`, but this allows us to equally evaluate the two options.

[2020-06-04 15:39] klaygomes commented on #1274
thank you!

[2020-06-04 18:50] 10hendersonm commented on #1272
Whelp, I actually failed to validate it (I was on `master` rather than `next`, and I forgot to un-link my local version which hadn't been pulled and thus was out of date), but **I can now confirm that it worked great**, for real.

[2020-06-05 00:36] rbellamy commented on #1260
I'm struggling with a good method for testing the initialization of values during `hooks.beforeRun`. Specifically, I have the following code, that when under debug successfully extracts the author information during the `hooks.beforeRun` tap, but fails the test:

[code]

What's happening is that the test is getting to the `getAuthor` hook BEFORE the `beforeRun` hook is run. I've looked at other co

[2020-06-05 03:27] bmuenzenmeyer commented on #1270
Googling for this error mentions a lot of instances of the branch not matching a remote, but I am fairly certain we have that right. We run `git fetch --tags` prior to calling auto and this is a portion of the output:

[code]

To my knowledge, at the time this runs, we are on `baseBranch` (`master`), not `version-6`. Does  that come into play for the `push`?

[2020-06-05 05:07] hipstersmoothie commented on #1260
push a branch and I can check it out

[2020-06-05 05:15] hipstersmoothie commented on #1270
Yeah it should be run from baseBranch. I think I found the bug. PR incoming!

[2020-06-05 06:19] #1270 closed

[2020-06-05 06:29] adierkens commented on #1270
:rocket: Issue was released in [`v9.39.0`](https://github.com/intuit/auto/releases/tag/v9.39.0) :rocket:

[2020-06-07 21:15] rbellamy opened #1279 ""dryRun" has inconsistent/unclear semantics in plugins"
## Description

In the documentation, `--dry-run` is repeatedly described as, essentially, "Report what command will do but do not actually do anything."

This is almost universally incorrect when it comes to the packaging plugins.

### Documentation

When looking at the documentation at the areas where the `dryRun` option is available to the hooks, it appears it is only available during `makeRele

[2020-06-07 22:03] hipstersmoothie commented on #1279
Good callout here.

In most cases the dryRun flag means the main hooks will not be called and `auto` will really just try to guess what it will do.

- `changelog` - only prints new release notes (no title or plugins show what they would do)
- `release` - will call it's hook with dry run. Really the only hook that should be called during a dry run. NPM is the only plugin that taps this hook to make

[2020-06-08 00:22] rbellamy commented on #1279
What caught my attention was my work on the `maven` plugin - and the fact that during `--dry-run` the `afterShipIt` hook is called, and for both `maven` and `gradle` this hook is used to increment a SNAPSHOT version and then push the change to the central repo.

In other words, during a `--dry-run`, when using `gradle` or `maven`, you get changes to disk AND pushes to your central repository.

I w

[2020-06-08 00:25] rbellamy commented on #1260
@hipstersmoothie here's the branch: https://github.com/terradatum/auto/tree/remove-maven-release-plugin-requirement

I've commented out the code which would push my changes to the central repo so that I can test the code on a real project without polluting the remote history.

Any help you can give me with this is greatly appreciated - I would love to be able to use the tests to check how well I c

[2020-06-08 00:27] rbellamy commented on #1260
Also, I had to make some changes to the local `package.json` that were incompatible with the root `package.json` in order to run the jest tests in IntelliJ - is there any guidance you can give me on that, or should it "just work" out of the box?

[2020-06-08 00:48] rbellamy commented on #1260
I can solve my problem with IntelliJ by adding a `jest.config.ts` file:

[code]

And then adding `jest-circus` to either the root or maven `package.json` files.

[2020-06-08 01:28] rbellamy commented on #1260
Just noticed that `xml2js` isn't going to do the job because it will silently REMOVE all XML comments during the XML => JSON => XML translations. I've been trying to make it work, and it's like pulling teeth. There is no guarantee that the XML will look anything like the original when moving through the `xml2js` transforms, and that's a deal-breaker.

[2020-06-08 04:14] hipstersmoothie commented on #1260
To run tests for just one plugin I run it from the root.

[code]

[2020-06-08 04:16] hipstersmoothie commented on #1260
That does seem like a pretty big deal breaker. Is there any standard CLI shipped in java environments that allows for editing of that file?

For plugins that don't have a parser for the config file (ex: ruby) `auto` uses mostly regex to update the file.

[2020-06-08 05:30] hipstersmoothie commented on #1279
Making a graph to hopefully clear it up. Just found a bug too in doing it

[2020-06-08 05:31] hipstersmoothie opened #1280 "Next GitHub release made not useing makeRelease hook"
The `next` command will also create GitHub prereleases but it doesn't use the `makeRelease` hook.

[2020-06-08 05:45] hipstersmoothie commented on #1260
![Untitled-2020-04-22-1020](https://user-images.githubusercontent.com/1192452/83996289-99047b00-a910-11ea-9162-2d15c79b47c2.png)

[2020-06-08 05:48] hipstersmoothie commented on #1279
![Untitled-2020-04-22-1020](https://user-images.githubusercontent.com/1192452/83996362-ccdfa080-a910-11ea-9afc-c15ee5ea01d0.png)

[2020-06-08 13:48] rbellamy commented on #1260
Did you get a chance to look at the `beforeRun` issue? I have a workaround, but it feels really hacky...

[2020-06-08 14:11] rbellamy commented on #1279
That's super helpful!

[2020-06-08 14:17] rbellamy commented on #1260
I really dislike the idea of using regex with XML - it's error-prone and brittle. However, it also seems ridiculously complex trying to use a `DOMParser` or `XMLSerializer` just to modify the version, which is why I was trying to work with `xml2js` in the first place.

[2020-06-08 16:36] hipstersmoothie commented on #1260
Looking at this now!

[2020-06-08 16:48] hipstersmoothie commented on #1260
https://github.com/terradatum/auto/blob/remove-maven-release-plugin-requirement/plugins/maven/src/index.ts#L127

The problem is your are doing a "synchronous" tap and doing async work inside of it

Change this

[code]

to this

[code]

[2020-06-08 16:51] hipstersmoothie commented on #1260
Ah the before run hook is sync right now, that's the real problem. It wouldn't change anything if that became an `AsyncSeriesHook` instead of a `SyncHook`. I can push a commit to you branch if it's unclear what I'm saying

[2020-06-08 17:08] rbellamy commented on #1260
Please do... let me make you a contributor.

[2020-06-08 17:10] rbellamy commented on #1260
Go ahead!

[2020-06-08 17:21] hipstersmoothie commented on #1260
Just pushed. Ran the tests and only two are failing now. the beforeRun hook is working as expected.

[2020-06-08 17:40] rbellamy commented on #1260
@hipstersmoothie I don't see the commit to the terradatum/auto repo?

[2020-06-08 17:43] hipstersmoothie commented on #1260
now I have actually pushed

[2020-06-08 17:47] rbellamy commented on #1260
Will that cause a breaking change for any plugin that is currently using the synchronous tap?

[2020-06-08 18:32] hipstersmoothie commented on #1260
Nope. sync taps should work the same. This just adds the ability to tap a promise

[2020-06-08 23:25] rbellamy commented on #1260
I've successfully made this work with brittle/error-prone regex. My concern is that the `<version/>` element is used EVERYWHERE in a `pom.xml` file - for the artifact version AND for the dependencies and plugins. In other words, the regex is highly likely to inadvertently change a version it's not supposed to.

In trying to work with XML DOM (via xmldom, xmldom-ts, xml2js, xml2json, etc), I've fou

[2020-06-08 23:37] hipstersmoothie commented on #1260
I'm sorry I'm not more of a help here. I use VSCode and rarely debug the tests. Can you run from root with `yarn test plugins/maven`?

This does seem like a good method. If that could work that seems good.

Is there only plugin based stuff like https://stackoverflow.com/questions/5726291/updating-version-numbers-of-modules-in-a-multi-module-maven-project available for maven? a low level mvn based

[2020-06-08 23:44] rbellamy commented on #1260
Thanks for the feedback and support. Sorry for the rant(ish) previous comment.

Great point about the versions-maven-plugin - I've not worked with it before and had no idea it existed. That will certainly make things easier for me... It's a perfect compromise between the maven-release-plugin and trying to manage the pom.xml files via the auto plugin.

I can get `yarn test plugins/maven` to work. I

[2020-06-09 18:10] 10hendersonm opened #1292 "[Docs] Writing Plugins page renders home page"
**Describe the bug**

https://intuit.github.io/auto/pages/writing-plugins.html (linked in sidebar) currently renders the home page.

**To Reproduce**

Navigate to https://intuit.github.io/auto/pages/writing-plugins.html

**Expected behavior**

Displays docs regarding writing plugins.

**Screenshots**

Home page:
![image](https://user-images.githubusercontent.com/14095644/84184206-91e58600-aa52-11e

[2020-06-09 20:11] rbellamy commented on #1260
After a long and arduous journey, I almost have what I consider a full solution, that will either modify the `pom.xml` files directly *or* use the `versions-maven-plugin` to set versions.

There are some caveats. The code used to modify the `pom.xml` is working with a DOM, which has the following consequences:

1. There is a bug in `tsconfig.json` processing that requires that the `"dom"` lib is b

[2020-06-09 21:58] hipstersmoothie commented on #1260
is this up on your branch? I can probably fix this

[2020-06-09 22:40] rbellamy commented on #1260
Not yet... I'm making sure all the tests (and new ones) pass before pushing. I'll ping you when they're ready for you to review.

[2020-06-10 23:50] hipstersmoothie commented on #1292
Got a real dark mode now 😉

[2020-06-11 21:31] bnigh commented on #1054
@hipstersmoothie
Do you know what the default behavior is now if you have ci setup to build off of an older tag, where the next tag is not available?

My guess, is there would be a failure, although I'm not sure where this error would occur (maybe at tag push?).

ie:

[code]

---

Outside of enforcing the rules @hipstersmoothie specified, I see one potential problem / confusion with the `try to un

[2020-06-11 22:14] hipstersmoothie commented on #1054
Usually tags don't build because the commit has `[skip ci]` in the message

[2020-06-11 22:23] hipstersmoothie commented on #1054
This is a great point. Definitely makes the build metadata portion of the version the right strategy.

This way, different implementations could be used via plugins.

your post pretty much convinced me that finding a unique tag is a confusing scheme to go off and we probably shouldn't.

[2020-06-11 22:25] hipstersmoothie commented on #1054
Maybe if we do a mix though it could work. Patching and old minor should be easy. It could work in the exact same way as oldVersionBranches for majors:

[code]

Then we only need to do the build metadata portion for patching patches.

[2020-06-12 10:12] jdalrymple opened #1294 "Determine cause of auto-exec spawnSync /bin/sh E2BIG"
**Describe the bug**

Currently my latest build fails on the release step with a E2BIG [error](https://gitlab.com/jdalrymple/gitbeaker/-/jobs/592645060#L125). I've done some research and found this can be due to a few reasons such as to many command argument (doesn't seem like the case here) or texts that are too large.

I feel like it may be the latter, but im unsure of how to debug the issue.

I

[2020-06-12 17:36] hipstersmoothie commented on #1294
I think that this may be a fatal flaw in the `exec` plugin.

`E2BIG` means that there were too many args to the `execSync` call. I'm pretty sure that the args it's talking about it just all the hook info we pass in though env variables (`$ARG0`).

I'm not really sure if this is something we can even fix. Might have to document this limitation and maybe even add an option to forgo passing in the co

[2020-06-12 17:44] hipstersmoothie commented on #1294
A solution could be storing the args somewhere on disk and let the command pull from there instead of an env var. But that's a pretty big breaking change for the plugin

To unblock you this plugin does the same thing

[code]

[2020-06-12 17:44] hipstersmoothie commented on #1294
If you can find a solution to E2BIG that would be awesome! (or anyone else who sees this issue)

[2020-06-13 17:58] jdalrymple commented on #1294
I'll definitely think about it, there should be some way to work around it. Thanks!

[2020-06-14 03:54] rbellamy commented on #1260
I just rebased master onto my branch, and now I'm getting several build errors.

First the `yarn.lock` file was borked because of a merge conflict, so I had to delete and rebuild it:
[code]

Once I did that, now I'm getting `@octokit/graphql` errors:
[code]

I was super hopeful I would be able to create a PR for this - but I'm concerned it's not ready yet.

[2020-06-14 04:01] rbellamy commented on #1260
Okay, I worked out what I needed to do - I just checked out the `yarn.lock` file from `master` and then re-ran `yarn clean && yarn install && yarn build && yarn test plugins/maven` and I think I'm good-to-go.

[2020-06-15 16:58] hipstersmoothie commented on #1260
Awesome! I'll review this today. Sorry I didn't respond over the weekend!

[2020-06-16 00:32] hipstersmoothie opened #1313 "Update notifier for non-npm install"
**Is your feature request related to a problem? Please describe.**

As a user of the `auto` binary I want know when there are updates

**Describe the solution you'd like**

`auto` tells me if there is a new update and links to the current release

**Additional context**

Might be able to use this https://www.npmjs.com/package/update-check

[2020-06-22 20:24] rbellamy commented on #1239
Also, for completeness, here's the default labels created for all new repositories: https://help.github.com/en/github/managing-your-work-on-github/about-labels#using-default-labels

[2020-06-24 16:25] #1260 closed

[2020-06-24 17:13] adierkens commented on #1292
:rocket: Issue was released in [`v9.40.0`](https://github.com/intuit/auto/releases/tag/v9.40.0) :rocket:

[2020-06-24 17:13] adierkens commented on #1260
:rocket: Issue was released in [`v9.40.0`](https://github.com/intuit/auto/releases/tag/v9.40.0) :rocket:

[2020-06-25 18:10] #1239 closed

[2020-06-25 18:22] adierkens commented on #1239
:rocket: Issue was released in [`v9.40.5`](https://github.com/intuit/auto/releases/tag/v9.40.5) :rocket:

[2020-06-30 10:19] qoalu opened #1335 "Docs links do not work"
**Describe the bug**

The links on the docs page lead to a 404 page

**To Reproduce**

Open: https://intuit.github.io/auto/docs
Click 'detailed release notes' or 'canaries' link

they lead to a page url like this: https://intuit.github.io/auto/generated/canary.md

**Expected behavior**

A page

**Screenshots**

<img width="501" alt="image" src="https://user-images.githubusercontent.com/1624045/861

[2020-06-30 17:12] #1335 closed

[2020-07-02 19:48] RichieRunner opened #1340 "404 error with auto shipit even with GHE god mode token 😖"
I'm trying to use this library with a **GHE account.**
Labels have already been set up, with githubApi url endpoint correctly declared.

`auto info` confirms that token and initial setup has been done correctly:
![image](https://user-images.githubusercontent.com/20289967/86403247-2f069980-bc62-11ea-87a0-f0f7ac07e993.png)

However, running `auto release` and `auto shipit` still gives 404 error:

[c

[2020-07-02 21:01] adierkens commented on #1335
:rocket: Issue was released in [`v9.40.6`](https://github.com/intuit/auto/releases/tag/v9.40.6) :rocket:

[2020-07-02 21:01] hipstersmoothie commented on #1340
Can you run with `-v` using the [latest version](https://github.com/intuit/auto/releases/tag/v9.40.6)? I want to see the full error

[2020-07-03 23:29] RichieRunner commented on #1340
Environment Information:
--
468 |  
469 | "auto" version: v9.40.6
470 | "git"  version: v2.27.0
471 | "node" version: v10.21.0GHE version:    v2.20.6

![image](https://user-images.githubusercontent.com/20289967/86501048-5d5fa400-bd4a-11ea-923e-66cbf396f661.png)

[2020-07-03 23:33] RichieRunner commented on #1340
I am not declaring a githubGraphQLApi value in my `.autorc` file, so this was what was derived. The graphqlBaseUrl seems to be same as my githubAPI url, ,not sure if that makes a difference or not.

![image](https://user-images.githubusercontent.com/20289967/86501118-deb73680-bd4a-11ea-98e9-f2af274fc6ee.png)

[2020-07-06 16:34] hipstersmoothie commented on #1340
I think this is the problem. When I use `auto` on an enterprise project I always set the following

[code]

We might be able to automate this more. Can you check if changing this setting helps at all?

[2020-07-06 17:18] hipstersmoothie commented on #1340
Also you're token doesn't need that many permission. just the "repo" is fine

[2020-07-06 22:28] hipstersmoothie commented on #1340
Re-opening until I know the issue is resolved. The newest version should build the graphql url for enterprise github without any extra settings now. Would appreciate if you would test and report back if it works!

[2020-07-06 23:13] adierkens commented on #1340
:rocket: Issue was released in [`v9.41.1`](https://github.com/intuit/auto/releases/tag/v9.41.1) :rocket:

[2020-07-07 12:52] ChristianUlbrich commented on #1153
Although this might be expected behavior. I guess the culprit is, that the version already exists in the package registry and thus subsequent publishing fails. Remedying this would involve doing _either_ a lookup or and I guess this is the _right way_™ _ignoring_ _publish errors_ if the version already exists just for canary builds. This is related to #994

[2020-07-07 16:19] hipstersmoothie commented on #1153
While the "_right way_™" for the publishing tool might be to warn the user that the version already exists, `auto` has tried to make the publishing experience easier.

- if you rebuild a PR build a new canary will published because the CI build number is included in the canary version
- if you try to `shipit` and a release exists with a higher version, we use that version

So, in my mind, if `auto

[2020-07-07 20:09] #1153 closed

[2020-07-07 20:22] adierkens commented on #1153
:rocket: Issue was released in [`v9.43.0`](https://github.com/intuit/auto/releases/tag/v9.43.0) :rocket:

[2020-07-09 19:59] RichieRunner commented on #1340
That fixed it; thanks for taking a look!

[2020-07-09 19:59] #1340 closed

[2020-07-09 21:57] RichieRunner opened #1365 "How do i automatically bump version in package.json with auto?"
After running `auto shipit` in my CI environment, i notice that the version on my `package.json` is not changing. Shouldn't auto be doing this for me? Or which NPM command do I need to run?

You guys are doing it as well somehow:
![image](https://user-images.githubusercontent.com/20289967/87094848-7c4fb180-c1f4-11ea-86ad-92e6f935fbaa.png)

[2020-07-09 22:10] RichieRunner commented on #1365
it looks like this can done with [`npm version`](https://docs.npmjs.com/cli/version.html), but I don't see where you guys are calling that in your pipeline?

[2020-07-09 22:59] hipstersmoothie commented on #1365
The npm plugin should handle this. Can you share your configuration?

[2020-07-09 23:11] RichieRunner commented on #1365
I didn't install it because:
1) the [doco](https://intuit.github.io/auto/docs/generated/npm) states that the it is already loaded by default
2) I do not want to publish my package to NPM (it is private repo)

Therefore, my `.autorc` config does not have any plugins property declared.

I noticed that the following repos (including this one) is able to achieve the automatic version bump without any

[2020-07-10 16:08] hipstersmoothie commented on #1365
The `npm` plugin is the default plugin (when installed from npm) if no other plugins are specific. but if you add any other plugin the defaults will be overriden.

[Here](https://intuit.github.io/auto/docs/configuration/plugins#using-plugins) it is in the docs. If you think it's kinda hidden feel free to make a PR that makes it a little clearer for you.

[2020-07-10 20:44] jonniebigodes opened #1366 "Issue with publish with GitHub Action"
**Describe the bug**
I've been working on updating Storybook's Design Systems for Developers tutorial and i've hit a problem with GitHub actions and publishing the package through it.

Each time i try to publish the same problem hits. I've checked the documentation [here](https://intuit.github.io/auto/docs/build-platforms/github-actions) and that was the baseline used for the documentation i've be

[2020-07-10 20:59] RichieRunner commented on #1365
I was able to achieve this with [this custom bash script](https://intuit.github.io/auto/docs/welcome/getting-started#enabling-skip-release-label). Still have no idea why I have to explicitly do this while other repos don't. Oh well, it works.

[2020-07-10 20:59] #1365 closed

[2020-07-10 21:07] RichieRunner opened #1367 "`auto version` not returning a value"
I have 2 released PRs that I'm expecting to be attached to the same version and github release:
- first PR: not labeled. Should default to `patch` according to doco.
- second PR: labled as `minor` and `release`

When I ran `auto version` to bump the version (to minor), `auto version` did not return any value. It was blank in both local and CI environment (AWS Codebuild). I'm suspecting it could ha

[2020-07-10 21:52] hipstersmoothie commented on #1365
Can you share the repo? I could take a look

[2020-07-10 21:53] RichieRunner commented on #1365
- https://github.com/intuit/auto
- https://github.com/artsy/reaction
- https://github.com/apollographql/space-kit
- https://github.com/adierkens/webpack-inject-plugin

[2020-07-10 21:54] hipstersmoothie commented on #1367
`auto version` will calculate the version using all the commits since the last `Latest Release`. So if there has been multiple PRs in that time they will all be used to calculate the version.

`auto version` will return nothing if either:

1. a `skip-release` label is present
2. or you're only releasing with the `release` label and it is not present.

Try running `auto version -vv` and posting the

[2020-07-10 21:54] hipstersmoothie commented on #1365
Well I know where it works I want to see why *yours* doesn't work

[2020-07-10 21:55] hipstersmoothie commented on #1365
So either a link to your repo or your autorc.

I can debug what's happening if you provide the command with -vv output.

[2020-07-10 22:00] hipstersmoothie commented on #1366
Could you link me to the build output? And please add `-vv` so we can see the full story.

[2020-07-10 22:08] jonniebigodes commented on #1366
@hipstersmoothie thank for the reply. Here's the [link to the latest build](https://github.com/jonniebigodes/design-systems-with-gh-actions/runs/859391967?check_suite_focus=true). I'll add the `-vv` shortly.

[2020-07-10 22:11] hipstersmoothie commented on #1366
Sure!

[2020-07-10 23:08] RichieRunner commented on #1367
![image](https://user-images.githubusercontent.com/20289967/87209677-9d350700-c2c7-11ea-8be9-68c0d8de1632.png)

![image](https://user-images.githubusercontent.com/20289967/87209626-6a8b0e80-c2c7-11ea-8eb3-ab95709d8ba3.png)

![image](https://user-images.githubusercontent.com/20289967/87209554-2992fa00-c2c7-11ea-8fb8-9da4783bba17.png)

[2020-07-10 23:32] hipstersmoothie commented on #1367
Is that a log from `shipit` I have a feeling this is because you aren't using the npm plugin and as a result I don't think you are properly tagging the release.

when the `release` portion of `shipit` runs it expects there to a be a new tag at the head or for the version to have incrementedf.

So for example: if the last tag in your branch is 2.1.0 it will try to create a release for that tag. Sin

[2020-07-10 23:40] RichieRunner commented on #1367
my `.autorc` file:
[code]

my custom CI script to do releasing:
[code]

[2020-07-10 23:43] hipstersmoothie commented on #1367
As I said in the other issue you gotta do this. All the repos you link do this

[code]

[2020-07-10 23:44] RichieRunner commented on #1367
I am not explicitly running `git tag` or anything similar anywhere. I assume this is the responsibility of `auto`

[2020-07-10 23:46] hipstersmoothie commented on #1367
Only the `shipit` command will do that. since you switched to the manual setup you would need to run `npm publish` as well.

But I think if you switch to shipit with the correct plugin config it will work.

1. fix including npm plugin in autorc
2. replace all auto script lines with `auto shipit`

[2020-07-10 23:58] RichieRunner commented on #1367
Thanks, that solved my new problem! But now we're back to my original question, is how do I combine multiple PRs into one release:
)
![image](https://user-images.githubusercontent.com/20289967/87211498-8cd45a80-c2ce-11ea-90f2-37afe187b37b.png)

![image](https://user-images.githubusercontent.com/20289967/87211469-74fcd680-c2ce-11ea-88d8-013de0082d78.png)

[2020-07-11 00:05] hipstersmoothie commented on #1367
40 def should have been included. that might be a bug. but I do this all the time and it should've worked

[2020-07-11 00:07] hipstersmoothie commented on #1367
I'm testing on one of my test repos. just did the same thing you did https://circleci.com/gh/hipstersmoothie/auto-single-package/173?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-07-11 00:08] hipstersmoothie commented on #1367
https://github.com/hipstersmoothie/auto-single-package/releases/tag/v0.0.23-next.0

[2020-07-11 05:47] RichieRunner commented on #1367
I tried a few more things:
  - removed the following: still didn't work
    - ```
      - git remote set-url origin https://xxx
      - git checkout master
      - git config --global user.email "xxx"
      - git config --global user.name "xxx"
[code]

[2020-07-11 06:17] hipstersmoothie commented on #1367
That will release a “canary” version of the code people can install to test the pr. This shouldn’t effect the latest release when ran from master.

[2020-07-11 06:19] hipstersmoothie commented on #1367
You can see that here https://github.com/hipstersmoothie/auto-single-package/pull/28

[2020-07-11 06:23] hipstersmoothie commented on #1367
You might be running into this issue https://intuit.github.io/auto/docs/welcome/quick-merge. But the window for it to happen should be very short, the timing would have to be almost perfect.

I feel like I haven't really answered you question.

**Q:** What are the ways to release multiple commits in a release?

1. use the `skip-release` label on a PR. that PR should still be included in the next r

[2020-07-11 17:00] jonniebigodes commented on #1366
@hipstersmoothie sorry for the delay. I've updated the script to include `-vv` flag. And per request, [here](https://github.com/jonniebigodes/design-systems-with-gh-actions/runs/861217545) the latest build run. Let me know if you need anything more.

[2020-07-11 20:13] hipstersmoothie commented on #1366
I think your only problem is you have not author set for commiting.

You can either:

1. Set `author` in your package.json
2. Set name + email in an `.autorc`

[2020-07-11 20:14] hipstersmoothie commented on #1366
<img width="831" alt="Screen Shot 2020-07-11 at 1 14 12 PM" src="https://user-images.githubusercontent.com/1192452/87233013-6b2fad80-c378-11ea-9909-4d5cb5ada165.png">

[2020-07-11 20:41] hipstersmoothie commented on #1366
When #1369 releases `auto` will now exit in CI if these values aren't set and provides a helpful error message

[2020-07-13 21:40] RichieRunner commented on #1367
@hipstersmoothie I've replicated the issue on a public repo here: https://github.com/RichieRunner/node-test/releases
I don't use CircleCI, so you'll have to create a CircleCI build to test. (I'm beginning to suspect that the crux of all my issues is really from using AWS Codebuild and not CircleCI like most repos that are using `auto`).

[2020-07-13 21:43] hipstersmoothie commented on #1367
I've never personally build on codebuild. `auto` is also on travis, jenkins, and github actions too.

I'll take a look at this today!

[2020-07-13 23:39] hipstersmoothie commented on #1367
Pulling the project locally I was able to create the right changelog.

1. HEAD set at latest master
2. `yarn auto changelog --from v1.0.1 -d`

[code]

So i'm leaning towards this being an AWS codebuild issue. I've never used that platform before. Any chance you could get this project running on that and give me access? And if not just provide me the ***full*** output log when ran with -vv. Without

[2020-07-15 17:26] jonniebigodes commented on #1366
@hipstersmoothie thank you for the feedback. I've checked and you're right. The issue was the missing author ( i fumbled fingered that bit 🤦‍♂️)  i've added the author and it's working.

Going to close this as it's now resolved.

Stay safe

[2020-07-15 17:26] #1366 closed

[2020-07-20 11:09] qoalu commented on #1263
Having this exact thought today. Releasing triggers a commit. preRelease branch and baseBranch get desynced in their versions

@hipstersmoothie did you manage this problem already?

[2020-07-23 07:07] pepf commented on #1365
Ran into this as well from a similar angle as topic starter. (I'm willing to update the docs once I know what the "best" solution is here)

I have no npm plugin added, because of a private repo with no "published assets", but "just" dependent on the package.json version being correct while mainly relying on tagging releases using `git-tag` for automation.

[code]
Would you still recommend installi

[2020-07-23 16:05] hipstersmoothie opened #1398 "Using npm plugin with single private packages"
(Taken from [here](https://github.com/intuit/auto/issues/1365#issuecomment-662852061))

Ran into this as well from a similar angle as topic starter. (I'm willing to update the docs once I know what the "best" solution is here)

I have no npm plugin added, because of a private repo with no "published assets", but "just" dependent on the package.json version being correct while mainly relying on tag

[2020-07-23 16:44] #1398 closed

[2020-07-23 17:09] hipstersmoothie commented on #1365
@pepf Could you try version `v9.48.0`? You should now be able to switch to the `npm` plugin and it will work with a private npm package 🎉

[2020-07-24 10:48] puzzledbytheweb opened #1400 "auto shipit not bumping version"
**Describe the bug**

In my CircleCI config I'm calling `npx auto shipit`, as specified in the docs.

**To Reproduce**

 - Make a change
 - Open a PR
 - Add the "major" and the "release" labels
 - Merge and let CircleCI do its magic

**Expected behavior**
I expect this to bump my version and make a new release in Github.

**Environment information:**

In the beginning of the script output it says

[2020-07-24 15:05] hipstersmoothie commented on #1400
Could you post your .autorc too? If this is a private repo a full log would help too

[2020-07-24 15:27] puzzledbytheweb commented on #1400
[code]

Previously `onlyPublishWithReleaseLabel` was set to `true`.

[2020-07-24 15:29] hipstersmoothie commented on #1400
What type of project are you trying to release?

[2020-07-24 15:31] puzzledbytheweb commented on #1400
A normal app. It exposes some endpoints, nothing fancy really

[2020-07-24 15:46] hipstersmoothie commented on #1400
but like to npm, a git tag, a cocoapod. etc?

[2020-07-24 15:50] puzzledbytheweb commented on #1400
We're trying to do a simple git tag

[2020-07-24 16:07] hipstersmoothie commented on #1400
Sweet! all you need to do is add the `git-tag` plugin to your `.autorc`. If you're using npm you will have to install `@auto-it/git-tag`, and if you're using the binary it's already installed.

[code]

https://intuit.github.io/auto/docs/configuration/plugins

[2020-07-24 16:42] puzzledbytheweb commented on #1400
I installed `@auto-it/git-tag`, adding it to the `.autorc` and it now works when I run it manually!

It doesn't work in CircleCI though :/ it says:
`⚠  warning   Could not find plugin: git-tag`

 I remember when I first installed `auto` that there was some issue with the plugin git-tag not being found, through `auto init`. Do you have any idea on that?

[2020-07-24 16:55] hipstersmoothie commented on #1400
are you sure you added it to you deps in your package.json? are all your deps on the same version of auto (this shouldn't matter for this case though)

[2020-07-24 17:28] puzzledbytheweb commented on #1400
I'm pretty sure but perhaps there is some issue with caching? I'll only be able to check that either this weekend or on Monday.

[2020-07-24 19:47] hipstersmoothie commented on #1400
This is a pretty odd issue. If you could sanitized the output of a run with `-vv` I may be able to debug without seeing the repo.

[2020-07-24 22:44] vincentbriglia opened #1401 "Auto release is failing on repository without tags, and once tags are added, it will fail that tags already exist."
**Describe the bug**

essentially this one, but i feel it's a regression: https://github.com/intuit/auto/issues/886

**To Reproduce**

find https://github.com/LEGO/poc-yarn-lerna-workspaces-auto-typescript @hipstersmoothie I invited you as an external collaborator. and check the next branch

publishing from CI fails with

[code]

publishing from local will succeed and a version will be tagged

sub

[2020-07-24 22:46] puzzledbytheweb commented on #1400
Sure! Tomorrow I'll do it. I need to do it from my work computer.

Andrew Lisowski <notifications@github.com> escreveu no dia sexta,
24/07/2020 à(s) 20:47:

[2020-07-25 13:22] puzzledbytheweb commented on #1400
Here it is. Thank you for your help so far. I hope we're almost there!

[auto.log](https://github.com/intuit/auto/files/4975620/auto.log)

[2020-07-27 09:32] puzzledbytheweb commented on #1400
So. I think I found out the problem as to why my CircleCI was failing. I was calling the `checkout` step before making the release, which effectively copied a fresh repo (removing the installed dependencies, which I am now persisting with `persist_to_workspace`).

Now the problem is with `package-lock.json`, which gets changed during the install job. Any idea on how to fix that?

[2020-07-27 10:15] puzzledbytheweb commented on #1400
Regarding my last comment. I ran `npm install` locally, which updated `package-lock.json`, pushed it and opened a PR. It looks like it's solved!

I'll be closing this now.

Thanks so much for your help @hipstersmoothie !

[2020-07-27 11:30] puzzledbytheweb commented on #1400
Actually, even though the release is now made to Github and everything looks great, I'm expecting my `package.json` version to be bumped as well.

I'm wondering if I need to enable the npm plugin, and if so, if I'm able to use it without actually publishing it to the npm registry.

Thanks in advance!

[2020-07-27 15:07] hipstersmoothie commented on #1400
Sorry! took the weekend completely off but am back now. looking into this

[2020-07-27 15:14] hipstersmoothie commented on #1400
Yup! in circle ci you def have to do this. If you also have a build step you must persist that work as well. Otherwise your `dist` files won't be in the release

You are correct. This is the same with yarn. Your lockfile must be up to date before releasing

When auto pushes the tag it creates it should also push this commit as well as any version changes.

if you're trying to use the npm plugin wi

[2020-07-27 15:48] hipstersmoothie commented on #1401
I think you're right and this is a regression. I'm going to make a PR with a canary version though should fix the issue.

A few things I noticed from your rc:

1. the release plugins are meant to be used 1 at a time in most cases. So you only need the `npm` plugin and not the `git-tag` plugin
2. Order does matter in advanced cases (custom plugins) but for all of the official ones you are pretty sa

[2020-07-28 00:02] stabbylambda opened #1408 "Maven plugin doesn't pipe maven stdout to auto stdout"
Just run the maven plugin, observe no stdout

[2020-07-28 09:52] puzzledbytheweb commented on #1400
Unfortunately it looks like it's not doing so. I do get the tag pushed and released but any change it does to the `CHANGELOG.md` dies there. That doesn't happen when running `auto shipit` locally.

Am I missing something or is this a bug? Here's my sanitized CircleCI config:
[code]

Not for this project but definitely will take a look once that's needed 👍

[2020-07-28 10:13] puzzledbytheweb commented on #1400
Adding on this, taken at the same time. This first one was created in CircleCI:
<img width="293" alt="Screenshot 2020-07-28 at 11 04 44" src="https://user-images.githubusercontent.com/35262512/88652055-3898eb00-d0c2-11ea-880c-87a0952a79dc.png">

The change bellow was made locally by running `npx auto shipit`:
<img width="909" alt="Screenshot 2020-07-28 at 11 05 47" src="https://user-images.githubu

[2020-07-28 15:25] #1401 closed

[2020-07-28 16:06] hipstersmoothie commented on #1400
Do you have the git-tag plugin in your config like this?

[code]

maybe try

[code]

[2020-07-29 00:17] adierkens commented on #1401
:rocket: Issue was released in [`v9.48.2`](https://github.com/intuit/auto/releases/tag/v9.48.2) :rocket:

[2020-07-29 00:49] #1272 closed

[2020-07-29 22:00] jrschumacher opened #1416 "Ensure baseBranch is at the same commit as the remote tracked remote branch before pushing"
**Is your feature request related to a problem? Please describe.**

When running `auto shipit` from `master` which is not at the same commit of the remote an error will occur when the version bump and changelog commits are pushed.

![image](https://user-images.githubusercontent.com/46549/88857813-8d209100-d1bc-11ea-96b8-c5c86034ceee.png)

**Describe the solution you'd like**

Detect the issue prio

[2020-07-30 02:10] hipstersmoothie commented on #1416
Eek first thing is you should probably invalidate that GH_TOKEN. I'll make a PR to ensure we don't output a token there. Then i'll look further into this issue

[2020-07-30 02:16] hipstersmoothie opened #1418 "Abort release if new commits detected upstream"
**Is your feature request related to a problem? Please describe.**

When running `auto shipit` from `master` which is not at the same commit of the remote an error will occur when the version bump and changelog commits are pushed.

**Describe the solution you'd like**

Detect the issue prior to git and give an instructive error.

**Describe alternatives you've considered**

Checkout the local base

[2020-07-30 02:17] hipstersmoothie commented on #1418
@jrschumacher I recreated the issue without the screenshot of the leaked token. Forgot what the title was though

[2020-07-30 02:24] jrschumacher commented on #1418
🤦‍♂️ thanks it's been a long day. If you point me to the right file I'll investigate adding the check and error. I looked in core but didn't see where the push was happening.

[2020-07-30 02:25] hipstersmoothie commented on #1418
Is this repo public? I can poke around.

[2020-07-30 02:27] jrschumacher commented on #1418
@hipstersmoothie https://github.com/avkvirtru/virtuoso-design-system

[2020-07-30 02:41] hipstersmoothie commented on #1418
Where are the logs for this. Currently we do have code that will abort the release if we detect this situation

https://github.com/intuit/auto/blob/d419b17f46638ebee68d125467891ac2e1d25304/packages/core/src/auto.ts#L402-L438

docs for the ls-remote command: https://riptutorial.com/git/example/1486/ls-remote

So the only way I could see this happening is if you merged 2 PRs at the exact right time.

[2020-07-30 02:43] jrschumacher commented on #1418
Let me see if I can create a repeatable scenario and provide logs.

[2020-07-30 02:46] hipstersmoothie commented on #1418
I see what's happening. You use `prepublishOnly` which will lengthen the window between `afterVersion` and `publish` if the command it runs is long.

- 1st merged PR is building and on `publish` step
- 2nd merged PR gets to `publish` while the 1st PR is just finishing

My recommendation would be to run your build then run `auto` (remove the `prepublishOnly` script)

[2020-07-30 02:47] hipstersmoothie commented on #1418
I will [this doc](https://intuit.github.io/auto/docs/welcome/quick-merge) and warn about this type of situation.

[2020-07-30 02:49] jrschumacher commented on #1418
Gotcha. So if I move it to `prerelease` that should solve it?

[2020-07-30 02:49] hipstersmoothie commented on #1418
yup that would work too!

[2020-07-30 02:50] jrschumacher commented on #1418
Thanks so much for this great tool and the support.

[2020-07-30 02:51] hipstersmoothie commented on #1418
Thanks for using `auto`! (and for surfacing this issue https://github.com/intuit/auto/pull/1419)

[2020-07-30 02:53] hipstersmoothie commented on #1418
I'm gonna close this issue. If you find this is still happening feel free open another issue.

[2020-07-30 02:53] #1418 closed

[2020-07-30 14:23] dariye opened #1422 "Hitting GH rate-limit when generating changelog over very large amount of commits"
**Describe the bug**

The `auto shipit` command somehow manages to exceed GH's API rate limit when trying to generate a changelog post release. (See screenshots)

**To Reproduce**

Run `auto shipit`

To have this error, you need to have a repository that has no releases but has many many many prs and commits, so essentially high velocity codebase.

**Expected behavior**

A new version is released

[2020-07-30 14:41] puzzledbytheweb commented on #1400
Hey! So I've tried to change the Access Token to an admin one, as well as using `plugins: [ 'git-tag' ]` instead of `plugins: [ '@auto-it/git-tag' ]`. It's still the same.

The main purpose of the package is working, which is to create releases. This works perfectly and it's a really valuable tool for our workflow. This is no longer a priority for us now, so it can be closed.

Thank you @hipstersm

[2020-07-30 14:41] #1400 closed

[2020-07-30 14:42] jrschumacher opened #1423 "Is there a way to publish from a specific directory?"
I use a tool like [pmsandhu/copy-pkg-json-webpack-plugin](https://github.com/pmsandhu/copy-pkg-json-webpack-plugin) which allows me to strip out dependencies and devDependencies since the archives are built.

Is there a way to get auto to change directory before publish?

[2020-07-30 16:19] hipstersmoothie commented on #1423
Could I see the project? Auto is typically run from the root, never tried just a folder

[2020-07-30 16:31] jrschumacher commented on #1423
@hipstersmoothie I'll have to put something together. I haven't implemented it into my current project yet.

I'm also fine writing a script to remove package.json before publish and restoring it after. I just don't want it to commit the truncated package.json.

Are there hooks I can tie into via autorc?

[2020-07-30 16:38] hipstersmoothie commented on #1423
You can use the [exec plugin](https://intuit.github.io/auto/docs/generated/exec) to tap all of the [available hook](https://intuit.github.io/auto/docs/plugins/hook-api-docs) but there might be a simpler way. i'd just have to see a sample repo

[2020-07-30 16:42] hipstersmoothie commented on #1422
Any chance I could see the repo to play around with?

[2020-07-30 16:52] #1408 closed

[2020-07-30 16:53] hipstersmoothie commented on #1422
wow thats a lot of requests

[2020-07-30 17:17] hipstersmoothie commented on #1422
Also if I could get a fuller log that might help

[2020-07-30 17:44] hipstersmoothie commented on #1422
Was actually able to recreate locally. Don't need anything from you other than hope 😉

[2020-07-30 20:09] gr2m commented on #1422
We do create a lot of similar requests in `semantic-release`, and we didn't hit the abuse limit, not that I'm aware of. There should be a 3s timeout between requests that create a comment, do you see that happening in your logs?

[2020-07-30 20:10] gr2m commented on #1422
Just to be sure: do you use a single Octokit instance across all these requests?

[2020-07-30 20:11] hipstersmoothie commented on #1422
Pretty sure we are only creating 1.

That happens here https://github.com/intuit/auto/blob/master/packages/core/src/git.ts#L123

which should only be initialized once at startup https://github.com/intuit/auto/blob/master/packages/core/src/auto.ts#L1643

I can check though

[2020-07-30 20:24] hipstersmoothie commented on #1422
To test this issue on auto:

[code]

[2020-07-30 20:28] hipstersmoothie commented on #1422
I think this is related to https://github.com/octokit/plugin-throttling.js/issues/108 but we only have 1 instance of octokit running so we shouldn't need to cluster

[2020-07-30 20:31] gr2m commented on #1422
do you do any GraphQL requests?

Can you confirm that you see the "went over the abuse limits" logs occur at a rate of roughly 1 per 3 seconds?

[2020-07-30 20:34] hipstersmoothie commented on #1422
Ah that might be it. we use @octokit/graphql but I saw today that you can do it straight though octokit. will try that too

[2020-07-30 20:36] gr2m commented on #1422
Yes, that way it shares the same request settings & request life cycle hooks

[2020-07-30 20:36] hipstersmoothie commented on #1422
🙏

[2020-07-30 20:39] hipstersmoothie commented on #1422
Okay running now. Got an hour on my rate limit wait left though 😢

[2020-07-31 13:30] vincentbriglia commented on #1422
@hipstersmoothie you can use our github instance if you're hitting this - we are seeing the same thing

[2020-07-31 13:36] vincentbriglia opened #1425 "Releases/Tags/Versions published have inconsistent naming"
**Describe the bug**

on first run releases and tags are created correctly without any 'v' prefix, when publishing from next, tags are created correctly without the 'v' prefix but ALSO with the v-prefix ending up with tags that are in these formats:

- @scope/x-core@1.0.1-next.0 …
- v@scope/x-core@1.0.1-next.0 …

we aren't setting prefix anywhere, not in auto.config, not in npmrc (tag-version-pref

[2020-07-31 16:25] sandip-rai opened #1426 "Is there a way to release with "dev-" for push to a dev branch?"
Hi, is it possible to have separate release tags based on the branch the workflow is running on? Eg,

- when pushed to master, it would release with tags like v1.2.3

- when pushed to dev branch, it would release with tags like dev-v1.2.3

I have a personal use-case where I deploy with docker and use master for production and dev for active development. Since I tag my docker images with the latest

[2020-07-31 16:41] hipstersmoothie commented on #1422
Can you link me to the build log?

[2020-07-31 16:56] hipstersmoothie commented on #1426
You can achieve something like that https://intuit.github.io/auto/docs/generated/shipit#release-pipeline

That seem like a prerelease branch https://intuit.github.io/auto/docs/generated/shipit#prereleases

[2020-07-31 17:14] vincentbriglia commented on #1422
I have sent you the build log, as this is on a closed repo.

[2020-07-31 17:39] #1425 closed

[2020-07-31 17:43] sandip-rai commented on #1426
@hipstersmoothie Thank you! This solved my use-case.

[2020-07-31 17:43] #1426 closed

[2020-07-31 17:53] hipstersmoothie commented on #1422
@vincentbriglia I'm pretty sure that i've fixed the problem in your logs in #1424

Could you install the canary version? It's all under a different scope so you'll have to replace all the package names:

[code]

@dariye If you could try to test too I would appreciate it!

[2020-07-31 17:54] adierkens commented on #1425
:rocket: Issue was released in [`v9.49.2`](https://github.com/intuit/auto/releases/tag/v9.49.2) :rocket:

[2020-07-31 19:26] vincentbriglia commented on #1422
Tried it out with

[code]

still an issue with the github runner GITHUB_TOKEN

trying with a personal token now (I have seen some discrepancies before)

[2020-07-31 19:33] vincentbriglia commented on #1422
didn't work with a personal token either.

[2020-07-31 20:28] vincentbriglia commented on #1422
I gave you access to the private repo @hipstersmoothie - branch from next branch

[2020-07-31 20:58] hipstersmoothie commented on #1422
Thanks! Was able to solve your issue pretty quick. https://github.com/intuit/auto/pull/1424/commits/d6e7be20f17160d253298146b77648b408377890

I don't think this is the same issue @dariye is having though.

[2020-07-31 22:02] vincentbriglia commented on #1422
confirmed that that fixed the issue I was having @hipstersmoothie - have a nice weekend !

[2020-07-31 23:49] vincentbriglia commented on #1422
however @hipstersmoothie this change now stopped publishing and/or correctly calculating semver releases.

[2020-08-01 00:16] hipstersmoothie commented on #1422
I think `auto` is behaving as expected. I [alluded to this here](https://github.com/LEGO/poc-yarn-lerna-workspaces-auto-typescript/pull/4#issuecomment-665807829). This is because the `conventional` commits plugin treat all non-semver commit messages as `skip-release` (ex: chore, docs, etc).

This is the PR that implemented it https://github.com/intuit/auto/pull/1086

Would you prefer for the conve

[2020-08-02 23:39] vincentbriglia opened #1428 "Lerna w/ Independent versioning can't push due to already existing release"
**Describe the bug**

monorepo with independent versioning and master/next/feature branch setup, next branch is default branch, baseBranch (auto) is master. Don't merge or make PR's from next > master, but instead only create feature branch PR's into next.

first build on next will succeed correctly up until a certain point, where it won't commit versions due to "release already existing", subsequ

[2020-08-02 23:48] hipstersmoothie commented on #1428
Will look at this on monday!

[2020-08-03 07:57] dariye commented on #1422
I'll test it today and get back to you.

[2020-08-04 15:37] #1428 closed

[2020-08-04 16:08] adierkens commented on #1428
:rocket: Issue was released in [`v9.49.4`](https://github.com/intuit/auto/releases/tag/v9.49.4) :rocket:

[2020-08-04 17:41] vincentbriglia commented on #1428
@adierkens @hipstersmoothie confirmed working. many thanks!

[2020-08-06 07:57] dariye commented on #1422
@hipstersmoothie this is still an issue with when generating a changelog

[2020-08-06 08:06] dariye commented on #1422
@hipstersmoothie added a bit more ☝️

[2020-08-06 11:08] puzzledbytheweb opened #1440 "NPM "404 Not found" when installing the "git-tag" plugin"
**Describe the bug**

When installing the `git-tag` plugin locally by running: `npm i @auto-it/git-tag` the CLI returns:
`404 Not Found - GET https://registry.npmjs.org/@auto-it%2fcore - Not found`

This issue also happens in the CircleCI pipeline when trying to run `npx auto shipit -v`.

I suppose this is a temporary bug and should be fixed once `'@auto-it/core@^9.49.4'` gets pushed to the regist

[2020-08-06 12:25] puzzledbytheweb commented on #1440
NPM solved their issue, going to close this.

[2020-08-06 12:25] #1440 closed

[2020-08-06 13:28] myndelx opened #1441 "jira plugin not found (Yarn v2)"
**Describe the bug**

When I install the jira plugin with Yarn v2 and add it to .autorc, `auto` trigger a warning saying it could not find the plugin:

[code]

When I use an other plugin, like `slack` for example, it's working properly.

**To Reproduce**

Install the latest Yarn Berry
Install the `@auto-it/jira` plugin

**Expected behavior**

The plugin should be working properly.

**Environment i

[2020-08-06 22:57] vincentbriglia opened #1443 "Auto potentially passing wrong semver information to 'semver' component for comparison, breaks build"
**Describe the bug**

Difficult to confirm but it looks like publishing versions on next branch, auto is passing a semver version to compare to "semver" module with package name and that fails a build

**To Reproduce**

https://github.com/LEGO/klik/runs/955803465

**Expected behavior**

semver version passes

**Screenshots**

![image](https://user-images.githubusercontent.com/452811/89590681-ca35f

[2020-08-06 22:59] vincentbriglia commented on #1443
@hipstersmoothie is there an easy way to test auto locally, in dry-run mode, that is equivalent to running it on CI? I haven't really had the chance to deep dive into auto, but am eager to help with issues.

[2020-08-07 16:40] hipstersmoothie commented on #1443
This is definitely a limitation of `auto` right now. The `--dry-run` flag makes most command skip calling plugins and instead tries to "guess" what will happen. There is currently an open issue around this #1279.

Delegating this behavior to the plugins will be a breaking change but I think it's a very valid one. I will add it to my v10 change list #1156 and might work on this soon, as it has been

[2020-08-07 17:07] hipstersmoothie commented on #1441
I think this should be fixed in [`v9.49.5`](https://github.com/intuit/auto/releases/tag/v9.49.5)

[2020-08-07 17:14] #1443 closed

[2020-08-07 17:30] adierkens commented on #1443
:rocket: Issue was released in [`v9.49.6`](https://github.com/intuit/auto/releases/tag/v9.49.6) :rocket:

[2020-08-08 21:04] myndelx commented on #1441
Will test that on next monday, thanks @hipstersmoothie!

[2020-08-10 09:41] myndelx commented on #1441
I've tested the `v9.49.5` version and it works like a charm! Thanks @hipstersmoothie!

[2020-08-10 14:17] 10hendersonm opened #1448 "Publish Auto with --exact"
**Describe the bug**

`auto` declares internal dependencies with careted versions (ex: `auto@9.47.1` calls `@auto-it/npm@^9.47.1`).

**To Reproduce**

[code]

**Expected behavior**

I'd like it to install with exact versioning so `9.47.1` of core gets `9.47.1` of all dependent packages, thus preventing introduction of an unintentional breaking change as versions of packages minorly drift.

[code]

[2020-08-10 15:38] 10hendersonm opened #1449 "Monorepo fails to publish all packages when `--registry` contains trailing slash"
relates to #1448

**Describe the bug**

When calling `lerna publish` with the `--registry http://foo` command, adding a trailing slash to the registry (ex `lerna publish --registry http://foo/`) is causing shipit to fail as some (?) packages `401` against artifactory. This worked for us prior to `auto@9.48.3` as the `--registry` flag was not called and our `.npmrc` was respected instead.

I've wor

[2020-08-10 19:37] #1441 closed

[2020-08-10 19:50] jrschumacher commented on #1423
Gotcha. Looking at the code, the issue is that NPM uses `npm` git integration so that won't work (since I would need to chdir to the dist directory.)

[2020-08-10 19:55] #1448 closed

[2020-08-10 20:12] adierkens commented on #1448
:rocket: Issue was released in [`v9.50.1`](https://github.com/intuit/auto/releases/tag/v9.50.1) :rocket:

[2020-08-10 20:17] hipstersmoothie commented on #1449
Sorry about that! This doesn't seem like a fun problem! I'm trying to reproduce on my end at the moment.

[2020-08-10 20:22] hipstersmoothie commented on #1449
Oddly both trailing and non-trailing work on publish npm

[2020-08-10 20:34] hipstersmoothie commented on #1449
I'm really thinking that this is an artifactory problem. They have had lots of weirdness in the past. I'd rather not have to add another config option but if It's necessary we can.

[2020-08-11 00:34] hipstersmoothie commented on #1449
Got artifactory creds today. will try to reproduce tomorrow

[2020-08-11 01:40] 10hendersonm commented on #1449
Ah totally forgot to swing back by my laptop when I saw the update..

Honestly, with #1448 handled I'm much less concerned about this. I mostly typed it up as justification for that one. As stated, we've worked around this internally (by just-in-time injecting `publishConfig.registry`), and honestly it's not an issue with your work, it's an issue upstream in `lerna` or `artifactory`.

I'm OK with

[2020-08-11 17:03] hipstersmoothie commented on #1449
So I was able to recreate this locally but I could only get that error to come up when I was doing my auth wrong. From what I've read artifactory only supports legacy auth for npm.

This did not work

[code]

but this did work

[code]

Which I created by running

[code]

But this might be a different issue. I had no issues with the trailing slash.

[2020-08-11 22:17] 10hendersonm commented on #1449
We're currently publishing with `_auth = TOKEN`. I do have one commit where I'd tried [enabling `legacyAuth` on the NPM plugin](https://intuit.github.io/auto/docs/generated/npm#legacyauth). We generate the token directly off of artifactory, and when I deconvert it from base64 to ASCII it doesn't turn into `username:password` format, so I'm unsure what exactly it is. So, the commit where I had trie

[2020-08-11 22:17] #1449 closed

[2020-08-13 00:19] mattfelten opened #1461 "auto init with customizing the default labels sets empty objects"
**Describe the bug**

I'm testing `auto` on a project that already has GitHub labels set up using `lerna-changelog` and not interested in changing them at the moment so wanted to rename some of the defaults to match the naming we're already using. I went through the interactive tool and when it finished, my labels array in `package.json` doesn't have any of my changes.

I've tried it twice.

[code

[2020-08-13 14:14] vincentbriglia opened #1462 "lerna independent with only 'git-tag' and 'released' plugins doesn't pick up on author entry in any package.json"
**Describe the bug**

auto doesn't pick up author from top-level packages.json or packages/package.json, instead has to be specified in .autorc

**To Reproduce**

https://github.com/LEGO/poc-yarn-lerna-workspaces-auto-typescript-tags/runs/980740902

**Expected behavior**

expect at least the top-level package.json to be enough, same behavior as when using the 'npm' plugin

[2020-08-13 14:36] vincentbriglia opened #1463 "lerna independent with only 'git-tag' and 'released' plugins doesn't create independent releases"
**Describe the bug**

When you add the 'minor' or 'major' label in your PR, and with lerna in independent mode, one would expect the versioning of components to be independent. This is not reflected in the versioning at the moment, where a  semver tag vx.x.x for the whole project is created, instead of the tag f,ex @org-name/component@x.x.x

**To Reproduce**

see https://github.com/LEGO/poc-yarn-l

[2020-08-13 15:35] hipstersmoothie commented on #1463
So all of the "publishing" plugin are meant to only be used 1 at a time. So you either use `npm` or `git-tag`.

I think you can accomplish this just by setting `private` to true on the packages you don't want to publish. They will still get versioned they just won't make it to the registry

[2020-08-13 16:47] hipstersmoothie commented on #1462
The `git-tag` plugin is package platform agnostic. Meaning it doesn't access any information from the `package.json` or any other platform specific files.   So this is the expected behavior.

[2020-08-13 17:00] hipstersmoothie commented on #1463
I've added some docs to clear this confusion up for future users. https://github.com/intuit/auto/pull/1465/files

Do you have any other questions?

[2020-08-14 00:21] mshick opened #1469 "Default to 'none'"
**Is your feature request related to a problem? Please describe.**

I was running `auto version` on a clean, up-to-date pull and getting `patch` back as my semver string. I suspect this is because `patch` is hardcoded as the default. Ideally this would be a no-op, or configurable as a no-op (`releaseType: none`).

**Describe the solution you'd like**

I would like to have the default `auto version

[2020-08-14 00:36] mshick commented on #1469
Sorry, I think I had a change in there I hadn't noticed. Things seem to be working as I'd expect now. Thanks!

[2020-08-14 00:43] hipstersmoothie commented on #1469
I was actually able to reproduce!

[2020-08-14 00:51] hipstersmoothie commented on #1469
@mshick What you really want though is the [this option](https://intuit.github.io/auto/docs/configuration/autorc#only-publish-with-release-label) which will only publish a release with the `release` label.

But thanks for finding this bug!

[2020-08-14 00:53] mshick commented on #1469
haha, yeah, I'm seeing sort of strange results... it seems like a completely clean run will trigger the `patch` while if I happen to have a `skip`ed PR in the hopper then I get the output I'd expect.

[2020-08-14 00:53] hipstersmoothie commented on #1469
#1470 should fix this!

[2020-08-14 00:55] mshick commented on #1469
I'm trying to avoid the `release` label approach in my workflow. Would like my release logic to be untethered to any specific PR. But thanks for the suggestion. And quick debugging / fixing!

[2020-08-14 01:14] mshick opened #1471 "Ability to omit the 'Pushed to <branch>' section from the changelogs"
**Is your feature request related to a problem? Please describe.**

While I do appreciate the subtle shaming, I'd like to make my release notes good for customers, who might find that section confusing or off-putting.

**Describe the solution you'd like**

The ability to omit that section from the release notes via a label config option.

**Describe alternatives you've considered**

The `omit-comm

[2020-08-14 01:27] hipstersmoothie commented on #1471
You should be able to override the label with less shame 😜

[2020-08-14 07:38] vincentbriglia commented on #1463
This clears things up from what your vision is for auto, very helpful

[2020-08-14 07:38] vincentbriglia commented on #1462
This clears things up very much! Thanks.

[2020-08-14 11:59] alexpopaconst commented on #1463
Hello! I tried the suggestion with setting private to true in the packages, but then I get this error [here](https://github.com/LEGO/poc-yarn-lerna-workspaces-auto-typescript-tags/runs/984712642?check_suite_focus=true) (it is under Create Release)

[2020-08-14 16:00] #1469 closed

[2020-08-14 16:03] #1462 closed

[2020-08-14 16:14] adierkens commented on #1469
:rocket: Issue was released in [`v9.50.7`](https://github.com/intuit/auto/releases/tag/v9.50.7) :rocket:

[2020-08-14 16:25] hipstersmoothie commented on #1463
That's actually not a bug. The verbose output is a little misleading though. Sometimes `auto` will run a command to see the result. Sometimes that result is a failure. In verbose mode we log a lot of responses, this include things that contain text saying "error" in them.

In this case `npm` plugin will run `lerna updated` to check if there will be any packages to publish during the `shipit` run.

[2020-08-14 16:35] hipstersmoothie commented on #1463
That being said though I do see situation where this doesn't work. Say a PR only effects a private package, you'd still want the package versioned, just not published. Seeing if I can improve this now

[2020-08-14 17:50] mshick commented on #1471
Ah, shoot, yes this worked in my `.autorc`

[code]

Thanks again!

[2020-08-14 17:50] #1471 closed

[2020-08-14 17:54] #1463 closed

[2020-08-14 17:55] hipstersmoothie commented on #1463
Think this should be fixed now!

[2020-08-14 18:10] adierkens commented on #1463
:rocket: Issue was released in [`v9.50.8`](https://github.com/intuit/auto/releases/tag/v9.50.8) :rocket:

[2020-08-14 19:48] #1461 closed

[2020-08-14 20:02] adierkens commented on #1461
:rocket: Issue was released in [`v9.50.9`](https://github.com/intuit/auto/releases/tag/v9.50.9) :rocket:

[2020-08-18 13:57] vincentbriglia commented on #917
@hipstersmoothie is there an easy way today to publish to 2 npm registries with shipit, that you've seen? or some feature toggles in auto that I don't have a good overview on right now.

[2020-08-18 16:11] hipstersmoothie commented on #917
@vincentbriglia would a plugin that publishes to the GitHub Package work? it could pretty much piggyback off of the npm plugin. It would be easy for `next` and `latest` release, canaries don't make as much sense. Thoughts?

[2020-08-18 19:57] vincentbriglia commented on #917
@hipstersmoothie we have a case where we publish the same package to the NPM registry and the GHPR registry. Reason here is that the GHPR, even though advertised as such, doesn't proxy packages correctly. The underlying problem being that we have the same scope on npm and github.

We are mainly developing behind closed doors, we use the canary builds to have conversations/approvals with our design

[2020-08-18 20:49] hipstersmoothie commented on #917
I was more thinking about a "secondary package registry" plugin. So the npm plugin would work as it does, publishing to whatever registry is configured. Then this new plugin would publish to a second registry (whether that's npm or ghpr doesn't matter) releasing whatever versions are on the HEAD commit.

This seems like a good feature. I didn't know those limits existed!

[2020-08-18 20:58] vincentbriglia commented on #917
well that would definitely work!

[2020-08-20 09:16] dariye commented on #1422
@hipstersmoothie thanks a lot for looking into this. I think the recent releases have fixed this. I'll go ahead and close this. `auto`'s working pretty nicely for us now. Thanks again

[2020-08-20 09:16] #1422 closed

[2020-08-21 18:53] mattfelten opened #1488 "Remove package names from changelog"
**Is your feature request related to a problem? Please describe.**

With a project using lerna, I'd like a way to remove the list of affected packages from each PR in a generated changelog.

**Describe the solution you'd like**

[code]

I'd like this to be
[code]

`auto changelog --no-workspaces` maybe?

**Describe alternatives you've considered**

Right now I manually change each changelog to rem

[2020-08-21 19:39] #1488 closed, assigned to nobody

[2020-08-24 08:19] sherifkayad opened #1490 "`auto version` to return the next version number"
**Is your feature request related to a problem? Please describe.**

I guess the answer to that is yes. We are trying to use auto to generate releases from our Jenkins and eventually we want to know what the exact published release is (e.g. v1.1.1). The reason behind that is that we developed some custom tool that based on a release tag / branch can generate some information about the release and l

[2020-08-24 16:02] hipstersmoothie commented on #1490
you can actually get that information by doing `auto shipit --dry-run --quiet`. This will not do a release and will print *just* the version that will be published. this should work in 95% of cases. If your project is an independent `lerna` project it won't be accurate though.

To me this seems like a place where you could write a plugin for `auto` that does this for you and is integrated better.

[2020-08-25 00:09] jrschumacher opened #1491 "When using protected branches (1 peer review) auto fails"
**Describe the bug**

We have protected branches branches turned on to ensure
**To Reproduce**

Add "Require pull request reviews before merging"

**Expected behavior**

Auto should deploy, bypassing the branch protections.

**Screenshots**

https://github.com/virtru/virtuoso-design-system/runs/1023167159?check_suite_focus=true#step:6:181

[code]

**Environment information:**

https://github.com/v

[2020-08-25 00:10] jrschumacher commented on #1491
Seems like the only way around this is to use the Github API to do the merge:
https://github.community/t/allowing-github-actions-bot-to-push-to-protected-branch/16536

[2020-08-25 00:16] hipstersmoothie commented on #1491
Another option is to use a PAT instead of the gh action's token.

[2020-08-25 00:17] jrschumacher commented on #1491
We are using a PAT.

[2020-08-25 00:20] hipstersmoothie commented on #1491
I 🙏 it works lol

[2020-08-25 01:10] jrschumacher commented on #1491
Nope 😢  https://github.com/virtru/virtuoso-design-system/runs/1024339602?check_suite_focus=true#step:6:189

[2020-08-25 19:38] loreina commented on #1367
Is there an update on this? publishing to GPR using a Github Action workflow doesn't seem to work for me, and I think it might be due to `auto version` not returning a value, so version isn't bumped in `package.json` or `package-lock.json`.

this is my `release.yml`:

[code]

[2020-08-28 08:24] vincentbriglia commented on #1491
This isn't really an Auto issue but rather a thought out limitation of Github Actions:
- https://github.community/t/allowing-github-actions-bot-to-push-to-protected-branch/16536/2

workarounds:
- https://github.com/benjefferies/branch-protection-bot
- https://github.com/ridedott/merge-me-action

[2020-08-28 13:56] jrschumacher commented on #1491
Yes I agree that it isn't autos issue, but given auto have a deep relationship with Github it should be considered.

I like the automated merge PR. Seems like it's something that an auto plugin could support? If protected branches is enabled then create a release PR rather than pushing to master. Additionally, it could utilize the API to use the associated admin permissions granted through the PAT

[2020-08-28 15:55] hipstersmoothie commented on #1491
Currently this would be a little more work than that. Each plugin is responsible for pushing the changlog/version commits. To make this pluggable we would need:

1. to move that behavior into core
2. make a new hook for pushing the release
3. make a plugin that uses that hook to do what you described

---

I kind of like what https://github.com/benjefferies/branch-protection-bot does. this would b

[2020-08-28 19:14] goldenshun opened #1501 "skip-release label ignored with auto shipit in PRs"
**Describe the bug**

I am currently running `npx auto shipit` from a CircleCI job. When I apply the `skip-release` label to a Pull Request, `auto` is still publishing a `canary` version of the package.

**To Reproduce**

1. Open a Pull Request in GitHub UI
2. Apply the `skip-release` label to the PR
3. Finish creating the PR

**Expected behavior**

I expect `auto` to skip the `canary` release for

[2020-08-28 22:52] jrschumacher commented on #1491
It surely will work, but it seems precarious and potentially problematic for orgs that have strict controls around branch protection.

I scanned through the plugins and I see what you mean. Instead of moving the changelog / version to core what if there were different types of plugins. For instance if the conventional-commit plugin was broken into two plugin types: conventional-commit-changelog an

[2020-08-28 23:09] hipstersmoothie commented on #1491
And if it the publish were to fail the branch protection rules would be lost 😢

---

The work to move the tag pushing into core looks like:

1. Move all `git push --tags` calls from `publish` hooks to [after this line](https://github.com/intuit/auto/blob/master/packages/core/src/auto.ts#L1593)

   Examples of `git push --tags` calls:

   https://github.com/intuit/auto/blob/master/plugins/npm/src/i

[2020-08-29 00:39] hipstersmoothie commented on #1491
I've made changes to my PR that will re-enable the Peer Reviews even when something in `auto` throws an error. So this should be a little less brittle now.

So the only way this wouldn't work now is if:

- you don't have permission to change this setting
- you hit the "merge quickly" window perfectly (low chance and i'm pretty sure the first one would abort before any weirdness)

---

As for the P

[2020-08-29 00:58] hipstersmoothie commented on #1491
On enterprise we use a dummy "bot" account with admin permissions to do this.

![Screen Shot 2020-08-28 at 5 57 31 PM](https://user-images.githubusercontent.com/1192452/91624897-f4666800-e957-11ea-8ba6-891eb7c10975.png)

Locally on my test project i've made a key with all permissons and it still doesn't work at all.

[2020-08-29 01:15] jrschumacher commented on #1491
That is strange. We don't use Enterprise at my org, but I have experienced the same issue on our (teams?) account despite being an Admin or using our dummy account which is also an admin.

I need to look at how our Buildkite jobs do this. Maybe they found a trick that works.

[2020-08-29 01:15] jrschumacher commented on #1491
I'm going to formalize my thoughts and post about it tomorrow. Thanks for your attentiveness and support.

[2020-08-29 01:21] hipstersmoothie commented on #1491
All sources point to a token from an admin with the right permissions should fix this. I'm trying this on [this repo](https://github.com/hipstersmoothie/auto-single-gpr/runs/1043983454?check_suite_focus=true) to no avail. what's weird is everything works fine locally using the same exact token. I can push directly to master but the same token doesn't work in CI

[2020-09-01 18:51] hainessss opened #1507 "Lerna.json options not being applied"
The `auto shipit` command is logging this in my CI:

[code]

despite having this configs:

.autorc
[code]
lerna.json
[code]

Did something change in a recent version where I need to define these options somewhere else?

[2020-09-01 19:27] hipstersmoothie commented on #1507
https://github.com/intuit/auto/pull/1412

I didn't account for setting the registry in that place. can you move it to the root package.json instead? I would also take a PR to add finding the registry here too. Won't have time to do this for a few days

[2020-09-02 00:52] hipstersmoothie commented on #1491
I'm in contact with someone who works at github and there might be a fix to this coming out at some point

[2020-09-02 21:05] mattfelten opened #1508 "Custom commit message by release context"
**Is your feature request related to a problem? Please describe.**

I'm looking to change the commit message for version bumps only for `latest` releases so that I can add something to trigger a CI job to publish a website. I don't want this to happen for prerelease or canary releases, only latest.

I know `auto shipit` has a `--message` option but at time of running the command, I don't know what

[2020-09-03 02:23] hipstersmoothie commented on #1508
So we could def add commit message options. The current --message flag is for the changelog commit so that wouldn't quite work.

Could you kick off the job in another way? If you could kick it off by yum a cli command there are a few ways to accomplish that

[2020-09-03 17:19] mattfelten commented on #1508
There might be. I need to investigate that more. If there is, is the `afterShipIt` hook the best place to do this where I can check for only `latest` releases?

[2020-09-03 22:47] hipstersmoothie commented on #1508
Yup a plugin like that would look like

[code]

[2020-09-04 19:14] Kimba666 opened #1509 "Error occurs when running 'yarn auto shipit'"
**Describe the bug**

when running the command 'yarn auto shipit', it begins to execute but then returns this error message;

[code]

**To Reproduce**

 Clone or pull a repo to local machine -> `yarn add -D auto` -> `yarn add -D @auto-it/jira` -> `git fetch --tags`  -> *verify .autorc and package.json are configured correctly -> `yarn auto shipit`

**Expected behavior**
Expected behavior should be

[2020-09-08 19:06] hipstersmoothie commented on #1508
@mattfelten does this suffice?

[2020-09-08 19:51] #1507 closed

[2020-09-08 19:53] hipstersmoothie commented on #1501
This might have been a timing issue. If you add `skip-release` after a PR has already been release there is nothing we can do. Might this have happened?

[2020-09-08 19:53] hipstersmoothie commented on #1490
@sherifkayad does this work for you?

[2020-09-08 19:56] hipstersmoothie commented on #1509
Could I get more of the logs for this?

[2020-09-08 19:57] goldenshun commented on #1501
@hipstersmoothie I thought that might be the case, but confirmed that it happens when adding the `skip-release` label before the PR is created.

[2020-09-08 19:59] hipstersmoothie commented on #1501
Could you post a full log and run with `-vv`?

[2020-09-08 20:13] adierkens commented on #1507
:rocket: Issue was released in [`v9.53.0`](https://github.com/intuit/auto/releases/tag/v9.53.0) :rocket:

[2020-09-08 23:00] mattfelten commented on #1508
It looks like it's working. I'm gonna be testing and tweaking it more but I really appreciate your help on this!

[2020-09-08 23:00] #1508 closed

[2020-09-09 13:55] Kimba666 commented on #1509
![image](https://user-images.githubusercontent.com/60011035/92607775-948a8e00-f282-11ea-8b61-2d0cc8529f41.png)

If there's something specific I can get for you, please let me know and I'll grab it asap. This is what returns when I run the shipit command. :(

[2020-09-09 16:00] hipstersmoothie commented on #1509
Run `npx auto shipit -vv` and post the full output here. With that I should be able to debug what's happening

[2020-09-09 18:17] Kimba666 commented on #1509
`
jwester@GTL41 MINGW64 ~ (Main)
$ cd /c/Users/jwester/Git_Jeff/ActionLog

jwester@GTL41 MINGW64 ~/Git_Jeff/ActionLog (master)
$ npx auto shipit -vv
npx: installed 215 in 17.9s
i  info      ENV: {
  isCi: false,
  commit: 'd31a8d84496a99a368d2130ef7a46794cf9facd7',
  branch: 'master'
}
ΓêÜ  success   Using SEMVER labels:
 Map {
  'major' => [ 'major' ],
  'minor' => [ 'minor' ],
  'patch' => [ 'pa

[2020-09-09 19:24] hipstersmoothie commented on #1509
Does running the command work? `npm version minor --no-commit-hooks -m "Bump version to: %s [skip ci]" --loglevel silly`

This is pretty odd. I'm thinking it might be a windows issue

[2020-09-09 19:52] Kimba666 commented on #1509
[code]

[2020-09-09 20:00] hipstersmoothie commented on #1509
Well that's super weird. That should have worked and is not `auto` at all. My theory is something is messed up in your node/npm installation. Lets remove even more. Try running `npm version minor`.

[2020-09-09 20:34] Kimba666 commented on #1509
[code]

[2020-09-09 21:23] hipstersmoothie commented on #1509
Yeah something is def up with your npm installation. I'm not a windows user so idk how to fix this

[2020-09-10 12:29] Kimba666 commented on #1509
Thanks for at least assisting me narrow the scope of the breakpoint. :) I'll troubleshoot further and find it, thanks!

[2020-09-10 12:29] #1509 closed

[2020-09-10 17:50] Kimba666 opened #1521 ""release" command returns "warning Nothing released to Github. Version to be released is the same as the latest release on Github: v0.3.3" and does not bump version."
**Describe the bug**
When running the command 'yarn auto release' after merging a pull request labeled with 'Bug' and 'patch', instead of a new version being bumped and applied to my repo as a tag, I receive this message.
"⚠  warning   Nothing released to Github. Version to be released is the same as the latest release on Github: v0.3.3"

The current Latest Version on my github is v0.3.3. Technica

[2020-09-11 13:14] Kimba666 commented on #1521
Resolved the issue myself

[2020-09-11 13:14] #1521 closed

[2020-09-12 09:46] sherifkayad commented on #1490
@hipstersmoothie The command `auto shipit --dry-run --quiet` didn't work for some odd reason in our Jenkins environment and we had to fall back to the original command I posted `auto release -d | grep -Po ' Would have created a release on GitHub for version: \K[^ ]+'`

We are currently checking if probably a plugin would make sense and how we can contribute it back if we did it.

[2020-09-15 17:49] 10hendersonm commented on #1501
I think I walked the code and may have determined what's going on.

1. Get the `commits`, map them into an array of `labels`.
  https://github.com/intuit/auto/blob/679c078165c27c74ffed10a70df7f909c2147e28/packages/core/src/release.ts#L409-L410
1. Call `calculateSemVerBump` on those `labels`
  https://github.com/intuit/auto/blob/679c078165c27c74ffed10a70df7f909c2147e28/packages/core/src/release.ts#

[2020-09-15 18:09] hipstersmoothie commented on #1501
@10hendersonm You could move that commit to a plugin I think. That way you don't mess with the semver bump calculation.

Tap `afterAddToChangelog` or `afterVersion` and do your commit stuff. You think that would work?

[2020-09-18 20:26] hipstersmoothie opened #1535 "Merging PRs quickly in a prerelease branch breaks some releases"
There currently is no logic to abort a release is 2 pr are merged to a prerelease branch quickly. This should function just like the release aborting that happen on `latest`

[2020-09-21 18:02] goldenshun commented on #1501
@hipstersmoothie `npx auto shipit --vv` results in this error `Found unknown flag: "--vv"`. Did I miss something?

[2020-09-21 18:03] hipstersmoothie commented on #1501
What version of auto are you on? pre-9.0 use -w for very verbose output

[2020-09-21 18:55] goldenshun commented on #1501
`npx auto --version` results in `9.53.1`

I went ahead and just changed to `npx auto shipit --verbose --verbose`. Hopefully this is enough info:

[code]

[2020-09-29 21:54] hipstersmoothie opened #1552 "all-contributors: Fails if using a file other than README"
Currently the all-contributors plugin will always update the README even if the rc says to update another file. Fix this!

[2020-09-29 21:55] hipstersmoothie opened #1553 "cocoapod: Pass verbose flag to pod commands when auto is ran with -v"

[2020-09-30 07:36] evanhsu commented on #1552
I'm able to specify a file other than `README.md` as long as I run `npx all-contributors init` to initialize the target file.

Tested with `auto@9.53.1` and `"@auto-it/all-contributors": "^9.53.1"`
![image](https://user-images.githubusercontent.com/189640/94655897-885f8280-02bc-11eb-8882-d550a73f0685.png)

**Steps to repro:**
1. Run `npx all-contributors init`
1. Specify when prompted that contrib

[2020-10-01 03:41] interactwithankush commented on #1276
I would like to contribute. Can I please be assigned to this problem?

[2020-10-01 16:46] hipstersmoothie commented on #1276
Feel free to submit a PR. I don't like assigning them because during hacktoberfest a lot of people call "dibs" but few usually follow through

[2020-10-01 19:26] christyjacob4 commented on #1276
@hipstersmoothie doesn't #1396  already fix this ?

[2020-10-01 22:18] ratnamal commented on #1276
@hipstersmoothie
Is this issue fixed?

[2020-10-02 18:35] Kimba666 opened #1558 "Is the ability to publish the changelog to a PR a thing?"
**Is your feature request related to a problem? Please describe.**
In my team's dev environments, there is branch protection that does not allow anything to get merged to dev or master without being an approved PR. I'd make an exception for this tool but whenever there is a merge to dev or master, the instance rebuilds so it would trigger a 2nd rebuild every single deploy whenever the changelog pu

[2020-10-02 19:31] hipstersmoothie commented on #1558
I think a better strategy would be to use `auto changelog --dry-run` to generate the changelog and `auto pr-body` to update the PR body with the changelog. this way we aren't adding a bunch of extra commits. Thoughts?

[2020-10-04 08:54] christyjacob4 opened #1560 "Auto Blog page 404 error"
Clicking on any of the blog links [here](https://intuit.github.io/auto/blog) takes the user to a 404 page

**To Reproduce**
1. Visit https://intuit.github.io/auto/blog
2. Click on any of the blog posts.

**Expected behaviour**
The correct blog page must load

**Screenshots**
![Screenshot 2020-10-04 at 2 16 25 PM](https://user-images.githubusercontent.com/20852629/95011137-31570600-064c-11eb-8cb9-0

[2020-10-04 20:17] dcortright commented on #1553
Hi @hipstersmoothie, I would like to work on this issue!

[2020-10-05 12:49] Kimba666 commented on #1558
I think that's actually an excellent idea, I'm gonna do some testing locally and if I get the desired results I'll close this issue, if not I'll let you know what the outcome was.

[2020-10-06 16:07] hipstersmoothie commented on #1553
Go for it!

[2020-10-06 19:51] brunobertoldi opened #1567 "Version prefix is not being added in Pre-releases"
**Describe the bug**

The prefix `v` is not being added when `auto shipit` (or `auto next`) is executed in a prerelease branch.
The option `--no-version-prefix` is ignored.

**To Reproduce**

1. Run `auto shipit` without `--no-version-prefix` in a branch listed in `prereleaseBranches`
1. The published Github Pre-Release doesn't contain the prefix `v`

**Expected behavior**

Add prefix `v` to prere

[2020-10-06 20:05] hipstersmoothie commented on #1567
is this with the npm plugin?

[2020-10-06 20:11] brunobertoldi commented on #1567
No, without the npm plugin

[2020-10-06 20:23] hipstersmoothie commented on #1567
Any chance this repo is public?

[2020-10-06 20:35] brunobertoldi commented on #1567
Yes! I created a minimum working example here:
https://github.com/brunobertoldi/auto-test/releases

[2020-10-06 20:56] #1567 closed

[2020-10-06 21:12] adierkens commented on #1567
:rocket: Issue was released in [`v9.54.4`](https://github.com/intuit/auto/releases/tag/v9.54.4) :rocket:

[2020-10-06 21:13] hipstersmoothie commented on #1567
@brunobertoldi Can you test out with that version?

[2020-10-06 21:30] brunobertoldi commented on #1567
Yes, it works!
https://github.com/brunobertoldi/auto-test/releases

Thanks, @hipstersmoothie!

[2020-10-07 08:35] myndelx commented on #1521
Hi @Kimba666! I've got the same issue, how did you resolve it?

[2020-10-07 12:21] brunobertoldi commented on #1567
Oh, I've noticed that the fix doesn't cover the `--quiet` flag:
https://github.com/brunobertoldi/auto-test/runs/1220329534?check_suite_focus=true

<details>
<summary>Github Action Screenshot</summary>

![image](https://user-images.githubusercontent.com/19298197/95330124-75c9e800-087e-11eb-81cc-58454b3c6955.png)

</details>

Should I open another issue?

[2020-10-07 16:24] dcortright commented on #1553
Great. Thank you!

[2020-10-12 13:00] Kimba666 commented on #1558
I tinkered with this method in a few different ways and didn't get results I was satisfied with. Since then I've decided to use a different method.

Is there a way to have the Changelog.md file that is generated by the 'yarn auto latest' command committed to a different repository from the one that it generates the changelog for?

Example: Lets say we're in Repo A, and a trigger occurs that genera

[2020-10-12 19:34] #1558 closed

[2020-10-12 19:45] Kimba666 opened #1579 "Can the changelog be committed to a different repo?"
**Is your feature request related to a problem? Please describe.**
Lets say you are in the base directory for Repo A,
And you run the command 'yarn auto latest',
Is there a way to have the action do everything that it would normally do (bump version based on tags, apply new tag) BUT commit the Changelog.md file to Repo B instead of Repo A?

I am trying to make a library of changelogs in one Reposi

[2020-10-12 22:30] dcortright commented on #1553
@hipstersmoothie Created the PR: https://github.com/intuit/auto/pull/1580 for this issue.

[2020-10-13 21:29] hipstersmoothie commented on #1579
This doesn't sound like something I would include in this repo. but it does seem like a good idea for a plugin.

The plugin would use the `afterAddToChangelog` hook, read the new changelog, and then use octokit to make a PR/or push to the other repo

[2020-10-14 11:18] myndelx opened #1586 "Group commit messages by packages in changelog for monorepo"
**Is your feature request related to a problem? Please describe.**

Currently, if I merge two PRs related to the same packages and then trigger a release, my changelog will look like this:

[code]

**Describe the solution you'd like**

I'd like to have the commit messages to be grouped by packages, like this:

[code]

It should also work for multiple packages:

[code]

[2020-10-14 11:34] myndelx commented on #1263
I'm currently working on a `next` release, and when I merge `master` on the `next` branch (for syncing, because the `master` branch receive some fixes that I want on the `next` branch), in the prerelease changelog I can see the merge commit:

[code]

Maybe I'm doing it wrong? How do you manage the syncing between the two branches?

[2020-10-14 11:53] tinytim84 opened #1587 "Use SSH keys for Git authentication"
**Is your feature request related to a problem? Please describe.**

We are currently trying to move our release workflow from semantic-release to Auto.  We use protected branches and are having authentication issues in the git push back to our branch.  We prefer not to use personal access tokens because they're tied to specific users and they have access to the whole organisation rather than being

[2020-10-14 13:12] JWolfLive commented on #1579
Thank you my friend I'll do some research and testing. :)

[2020-10-14 15:59] hipstersmoothie commented on #1263
Probably just like you are. This is an area that could be improved I think we could filter that commit with the `omitCommit` hook and a regex. If you want to put up a PR i'd be happy to accept it!

[2020-10-14 16:02] hipstersmoothie commented on #1586
This would be a great improvement! no idea how hard it would be but [here is where that code lives](https://github.com/intuit/auto/blob/master/plugins/npm/src/index.ts#L709)

The hard part is that particular code runs on a line by line basis. I can take a look at this one later this week.

[2020-10-14 16:04] hipstersmoothie commented on #1587
I've never used ssh w/GitHub myself and would def accept a PR to improve this part of auto. I might be able to take a look at this later this week or next week.

[2020-10-14 16:27] hipstersmoothie commented on #1587
It's in [this function](https://github.com/intuit/auto/blob/master/packages/core/src/auto.ts#L589). Code is somewhat similar to what you would find in semantic release

[2020-10-14 19:27] smoia opened #1588 "Question about latest version retrieval using github actions (no npm) and git-tags"
I tried to setup `auto` in a [python repository](https://github.com/physiopy/phys2bids), without using npm - downloading the latest release from github - with [this Github action](https://github.com/physiopy/phys2bids/blob/master/.github/workflows/auto-release.yml).
From the last [log of the action](https://github.com/physiopy/phys2bids/runs/1255256249?check_suite_focus=true#step:4:512), the [one

[2020-10-15 05:47] #1586 closed

[2020-10-15 05:59] adierkens commented on #1586
:rocket: Issue was released in [`v9.59.0`](https://github.com/intuit/auto/releases/tag/v9.59.0) :rocket:

[2020-10-15 14:00] tinytim84 commented on #1587
@hipstersmoothie I've created a PR for this: https://github.com/intuit/auto/pull/1590

[2020-10-15 16:43] tinytim84 commented on #1587
Thanks for approving!  How can I use this canary version in place of the production version that I'm currently using?

[2020-10-15 16:46] hipstersmoothie commented on #1587
Are you deploying a javscript based project?

[2020-10-15 17:13] hipstersmoothie commented on #1587
Sweet! should be easy to test it out. Our canary versions are published under a different scope. Change all plugins from `@auto-it` to `@auto-canary` and the main `auto` package to `@auto-canary/auto` and set all the versions to `9.59.1-canary.1590.19456.0`

[2020-10-15 17:31] tinytim84 commented on #1587
Thanks, I've got the canary version in now.  I'm going to do some testing, think there might need to be a little more done on this one before it's ready.

[2020-10-15 19:30] tinytim84 commented on #1587
I'm just having a little trouble verifying whether this has been successful or not.  To test the value of `auto.remote` I created a simple plugin that hooks into `beforeShipIt` and it just console logs `auto.remote`.  Then I just do a dry-run on `auto shipit` to see what the remote url displays as.  I've created a personal access token with no access rights in the hope that it would cause [verifyA

[2020-10-15 19:37] hipstersmoothie opened #1592 "gh-pages plugin will commit .env when run locally"

[2020-10-15 21:18] AndrewLeedham commented on #1587
I wonder if a dry run push will fail with an invalid or no token, but because it is not actually pushing anything it does not care about push permissions specifically. What if we do an octokit get for this data: https://docs.github.com/en/free-pro-team@latest/rest/reference/repos#get-a-repository and check if `permissions.write` is true?

[2020-10-16 15:56] tinytim84 commented on #1587
@hipstersmoothie I've updated my PR to include a check on whether push permissions available before doing the `verifyAuth` check. This should cause it to fail if the token provided doesn't have push permissions, so it will then continue on to check the other methods.

[2020-10-17 15:16] vaggarwal2 commented on #1105
@hipstersmoothie @ncheema  I would like to work on this as part of Hacktoberfest. Could you please elaborate on whats expected?

[2020-10-17 22:41] JackHowa opened #1593 "node-fetch resolution dependency issue"
**Is your feature request related to a problem? Please describe.**

- Seeing security dependency issue in storybook deployer around `node-fetch` https://github.com/storybookjs/storybook-deployer/network/alert/yarn.lock/node-fetch/open

**Describe the solution you'd like**

- Would appreciate it if greater than 2.6.1 version is used for node-fetch, possibly using resolution

**Describe alternatives

[2020-10-18 01:03] hipstersmoothie commented on #1593
I can take a look at this sometime next week. if you submit a pr i'll release a canary version so you can test the fix

[2020-10-20 18:11] benswinburne opened #1597 "Support ! after type/scope to indicate a breaking change"
**Describe the solution you'd like**

I created a pull request today which included ! in the type, for example "feat!: implemented config v2 syntax" which was seen as a patch by the conventional commit plugin (which I suppose is actually a bug as it should be a minor?)

According to the conventional commits website https://www.conventionalcommits.org/en/v1.0.0/

It'd be great if ! was supported to

[2020-10-20 19:36] msonnleitner commented on #1490
@hipstersmoothie Should `auto shipit --dry-run` also work for pre-release branches? I tried this approach but it returns

✔  success   Would have created prerelease version: 0.0.2-next.0

although in my case 0.0.2-next.1 is already existing

On master it seems to work though:

⚠  warning   Published version would be: 0.0.2

[2020-10-20 21:01] hipstersmoothie commented on #1597
Do you have any suggestions for a replacement dependency? something that implements the full spec?

[2020-10-20 21:08] hipstersmoothie commented on #1490
The dry-run output is admittedly a little stupid and doesn't actually call to plugin code so the results might not be 100% accurate. What is your use case that you're trying to accomplish?

[2020-10-20 21:23] benswinburne commented on #1597
I'd hazard a guess that https://www.npmjs.com/package/conventional-commits-parser would be a good bet.

That said, there is currently an open issue https://github.com/conventional-changelog/conventional-changelog/issues/648 describing similar ! behaviour to above. However, with this library even in it's present state the issue can be resolved by passing in a different matcher which includes ! as a

[2020-10-21 08:26] msonnleitner commented on #1490
The goal is to use this version to bump a Helm Chart `appVersion` with that value, before the release actually happens.

Since it does not work, I am currently doing something like (after auto shipit)

[code]

[2020-10-21 09:10] thuringia commented on #1490
@hipstersmoothie I tried using `auto shipit --dry-run --quiet`, which works fine, but doesn't match the released canary:
`auto shipit --dry-run --quiet`: `0.1.1-canary.2.88e44fd4e2aeb1f2425d0806c68781b9b3142627.0`
`auto shipit`: `✔  success   Published canary version: 0.1.1-canarycanary.2.88e44fd4e2aeb1f2425d0806c68781b9b3142627`

So right now, I can't use that route to get the version number for

[2020-10-21 16:19] hipstersmoothie commented on #1490
Okay. All this information is great and is really pushing me to resolve #1443. This might be a bit of work and won't land for around a month. But I want to move most of the dry-run "guess release version" code into plugins. This will need a breaking change so I'll probably also do some v10 renaming work. Thanks for your guys input!

---

The only idea I have for now to get the actual release versi

[2020-10-21 16:28] #1597 closed

[2020-10-21 16:44] adierkens commented on #1597
:rocket: Issue was released in [`v9.60.0`](https://github.com/intuit/auto/releases/tag/v9.60.0) :rocket:

[2020-10-21 16:45] thuringia commented on #1490
Thanks for letting us know :)

For now, the route of first releasing and then reading from the package.json does the job.
I better wait for v10 to try the plugin idea

[2020-10-21 19:42] hipstersmoothie commented on #1597
No prob! def needed an update and now that we're on a package the much of the ecosystem uses it unlocks using conventional-changelog presets in the plugin:

https://intuit.github.io/auto/docs/generated/conventional-commits#options

[2020-10-21 20:07] thuringia opened #1600 "npm plugin does not bump the version in package.json"
**Describe the bug**

The `package.json` is not updated, when running `(yarn/npx) auto shipit` on a pre-release branch.
`(yarn/npx) auto shipit --dry-run --quiet` is not reporting the correct version number in that case.
This causes issues downstream as the version number is used to tag docker images and other artifacts.

**To Reproduce**

1. Commit on `next`
2. `auto shipit` runs in Github Action

[2020-10-21 22:17] hipstersmoothie commented on #1600
This is by design. If the version is committed then it can lead to merge conflicts when merging into master. There is a git tag that's created though

[2020-10-22 02:27] smithki commented on #1600
This issue is affecting me as well.

What is the recommended approach to ensure `package.json` versions stay in sync with CI deployments using `auto shipit`?

[2020-10-22 03:44] hipstersmoothie commented on #1600
I'm not sure I quite understand the use case @smithki. @thuringia's use case makes sense, he needs the version to update other things, but I'm pretty hesitant to change the behavior. Can you detail what you're trying to accomplish?

[2020-10-22 03:59] smithki commented on #1600
Sorry, I may have a misunderstanding. From the issue's wording, I surmise that `next` branches do not receive updated `package.json` versions, but `main` branches do (still learning `auto`—total beginner here). My use-case is the same as in the original issue, but to be specific:

I need to be read the `package.json` version at _build_ time for an NPM library so that the current `package.json` ver

[2020-10-22 04:19] hipstersmoothie commented on #1600
Could you just do what `auto` does? https://github.com/intuit/auto/blob/master/packages/core/src/auto.ts#L306-L310

[2020-10-22 04:32] smithki commented on #1600
I'll see if I can workaround it, not my intention to derail the original topic of this issue.

Unfortunately not, because the code is intended to be run client-side (I'll open a new issue if I don't find a workaround).

[2020-10-22 04:59] hipstersmoothie commented on #1600
Ah, another vote for me fixing dry-run behavior sooner rather than later. Will take a look at fixing all of that next weekend. Thanks for the feedback and using `auto`!

[2020-10-22 13:53] thuringia commented on #1600
@hipstersmoothie Thanks for the quick response :) You always surprise me

I found pretty solid workaround for now, `auto shipit --dry-run --plugins git-tag`. That actually makes a lot of sense anyways to check for the next version this way for prereleases.
Thanks for taking a shot at dry-run improvements so soon. If there's a canary build you want to try out, let me know. I'll be happy to help.

I

[2020-10-22 16:44] mattgabor commented on #1313
@hipstersmoothie when you say non-npm, do you mean this should only prompt the user to update if have installed the binary manually? I can try doing this with the package you suggested but it's geared towards globally installed npm packages.

[2020-10-22 16:46] hipstersmoothie commented on #1313
yeah. thinking about this more it the update warning should probably only be shown during --help or `auto info` since some of the command are expected to have specific output (like `auto version`)

Might be better to roll our own inside auto then

[2020-10-23 14:22] benskz opened #1602 "Released Plugin: Error on shipit"
**Describe the bug**

When running `auto shipit`, sometimes, the released plugin errors (See screenshot below). I'm currently unsure how to reproduce this reliably.

**Expected behavior**

Released plugin should comment on relevant PRs and not throw an error.

**Screenshots**

![image](https://user-images.githubusercontent.com/16744051/97015350-64056780-1543-11eb-98ba-922448b4b8be.png)

**Addition

[2020-10-23 14:39] benskz commented on #1602
Further testing seems to suggest that if the PR body is not empty this error never occurs.

[2020-10-23 21:56] #1602 closed

[2020-10-23 22:09] adierkens commented on #1602
:rocket: Issue was released in [`v9.60.1`](https://github.com/intuit/auto/releases/tag/v9.60.1) :rocket:

[2020-10-26 10:06] tinytim84 commented on #1521
@Kimba666 @myndelx are either of you able to share how you resolved this?  I get this all the time and it's driving me slightly crazy now.

[2020-10-26 12:47] myndelx commented on #1521
Hi @tinytim84, my issue comes from the fact that I was trying to do a release with only PRs labeled with `internal` (this label has `releaseType: "none"`, so, that's why `auto` didn't bump any new version). As soon as I've merged another PR with any other `releaseType` (`patch`, `minor` or `major`), the release process was working properly. Hope this is helpful.

[2020-10-26 16:12] hipstersmoothie commented on #1521
@tinytim84 If you can provide a reproduction/give me access/give me a full log with -vv I can probably figure it out

[2020-10-26 21:36] hipstersmoothie commented on #1579
As this isn't something I plan to integrate I'm going to close this issue. Feel free to open again if further discussion is needed

[2020-10-26 21:36] #1579 closed

[2020-10-26 21:39] #1276 closed

[2020-10-26 21:40] #1553 closed

[2020-10-26 21:44] hipstersmoothie commented on #1588
@smoia are you still experiencing these issues?

[2020-10-26 21:46] #1552 closed

[2020-10-26 21:47] hipstersmoothie commented on #1552
Sorry for the false alarm @evanhsu. Thanks for the detailed breakdown

[2020-10-26 23:34] adierkens commented on #1600
:rocket: Issue was released in [`v10.0.0-next.1`](https://github.com/intuit/auto/releases/tag/v10.0.0-next.1) :rocket:

[2020-10-26 23:34] adierkens commented on #1279
:rocket: Issue was released in [`v10.0.0-next.1`](https://github.com/intuit/auto/releases/tag/v10.0.0-next.1) :rocket:

[2020-10-26 23:34] adierkens commented on #1490
:rocket: Issue was released in [`v10.0.0-next.1`](https://github.com/intuit/auto/releases/tag/v10.0.0-next.1) :rocket:

[2020-10-26 23:41] hipstersmoothie commented on #1535
This actually shouldn't be a problem since no commits are made

[2020-10-26 23:41] #1535 closed

[2020-10-27 11:01] smoia commented on #1588
Hello @hipstersmoothie! Yes and no: Yes because when I call `auto release` I do have this issue, no because if I use `auto shipit` I don't. In fact, the set up is now working quite well (we release a couple of versions with it) - let's see if it will be ok with the move to v10!
If you want, you can add our action to the documentation as an example of GitHub action that is not using npm.

[2020-10-27 16:50] adierkens commented on #1156
:rocket: Issue was released in [`v10.0.0-next.2`](https://github.com/intuit/auto/releases/tag/v10.0.0-next.2) :rocket:

[2020-10-27 20:07] hipstersmoothie commented on #1600
@thuringia @smithki Could you test and see if v10 solves your issues?

[2020-10-27 20:08] hipstersmoothie commented on #1490
@sherifkayad @msonnleitner Could you test and see if v10 solves your issues?

[2020-10-27 20:28] hipstersmoothie commented on #1588
@smoia I'd happily accept a PR for those changes. Let's get you on that contributor list 😉

[2020-10-27 20:29] hipstersmoothie commented on #1588
I think the problem stems from a misunderstanding:

- `auto release` - Creates a GitHub release for the last tag in the repo
- `auto shipit` - Will create the tag and call `auto release`

[2020-10-28 08:03] msonnleitner commented on #1490
@hipstersmoothie I gave it a try, it seems that
`auto shipit --dry-run` is now creating a git tag and seems to be doing an actual release? or am I doing something wrong?
[code]

[2020-10-28 08:34] smoia commented on #1588
I see, and now that's clear, thank you! May I suggest a tiny change to the documentation in this case? Just to make 100% more clear the difference between `shipit` and `release`.

[2020-10-28 09:06] thuringia commented on #1600
@hipstersmoothie This works fine in v10 👍
It is noticeably slower though, or rather it takes as long as running `shipit` without `--dry-run`.

Thanks for getting this out so quick!

Not sure if that's a bug or not:
When I upgraded the packages using `yarn add -D auto@next`, the changes to `package.json` and `yarn.lock` were gone after running `auto shipit --dry-run`. v10 was still in my `node_modu

[2020-10-28 16:13] hipstersmoothie commented on #1600
I'll see if I can improve that. but since we're calling to the plugin now it doing a lot more work to print the real next versions.

Ah this is a bug. for the dry run I skipped the clean check but didn't skip the git reset

[2020-10-28 16:15] hipstersmoothie commented on #1490
Having trouble recreating this on my machine.

![Screen Shot 2020-10-28 at 9 15 10 AM](https://user-images.githubusercontent.com/1192452/97464389-15b6e680-18fe-11eb-825d-b9f2e967e16f.png)

[2020-10-28 16:20] hipstersmoothie commented on #1600
@thuringia What type of project are you releasing?

[2020-10-28 16:33] msonnleitner commented on #1490
@hipstersmoothie  Well given that I am not that experienced with Node and version switches, it is probably my fault. But for Node 14 it worked using NPM. It tried to debug it and it seemed that `--no-git-tag-version` does not work in  `npm version 0.0.3-next.27 --no-git-tag-version` for Node 15. But maybe I was just confused.

**But basically it works, probably just my fault.**

[2020-10-28 16:36] hipstersmoothie commented on #1490
That definitely seem like a bug on `npm` itself. Could you submit a bug [here](https://github.com/npm/cli/issues)? While that's being resolved I'd recommend downgrading to npm 15 until some of the bugs are shaken out.

[2020-10-28 16:58] msonnleitner commented on #1490
ok, it seem it is this issue https://github.com/npm/cli/issues/1973

[2020-10-28 20:57] thuringia commented on #1600
@hipstersmoothie I'm completely fine with the dry runs being slower now. It's not that big of a difference. I mostly meant it as a remark that you feel a change, maybe I should have added an emoji there 😄
Any performance boost is always welcome though.

In this case it's a mixed project consisting mostly of a Java application with some lambdas around it. To create a release I have to:
- Run gradle

[2020-10-29 11:13] sherifkayad commented on #1490
@hipstersmoothie works like a charm! Thanks for that

[2020-10-29 18:18] adierkens commented on #1156
:rocket: Issue was released in [`v10.0.0`](https://github.com/intuit/auto/releases/tag/v10.0.0) :rocket:

[2020-10-29 18:18] adierkens commented on #1279
:rocket: Issue was released in [`v10.0.0`](https://github.com/intuit/auto/releases/tag/v10.0.0) :rocket:

[2020-10-29 18:19] adierkens commented on #1600
:rocket: Issue was released in [`v10.0.0`](https://github.com/intuit/auto/releases/tag/v10.0.0) :rocket:

[2020-10-29 18:19] adierkens commented on #1490
:rocket: Issue was released in [`v10.0.0`](https://github.com/intuit/auto/releases/tag/v10.0.0) :rocket:

[2020-10-29 18:47] #1600 closed

[2020-10-29 18:47] hipstersmoothie commented on #1588
Go for it!

[2020-10-29 18:47] #1490 closed

[2020-10-29 18:47] #1279 closed

[2020-10-29 18:47] #1156 closed

[2020-10-29 20:09] hipstersmoothie commented on #1593
Not sure this is too fixable until amp-project makes a release. Seem like they could use `auto` 😉

[2020-10-29 20:10] #176 closed

[2020-10-29 20:11] #210 closed

[2020-10-29 20:14] hipstersmoothie commented on #1105
I think this has already been accomplished

[2020-10-29 20:14] #1105 closed

[2020-10-30 00:19] #1035 closed

[2020-10-30 00:36] adierkens commented on #1035
:rocket: Issue was released in [`v10.0.1`](https://github.com/intuit/auto/releases/tag/v10.0.1) :rocket:

[2020-10-30 18:12] tinytim84 commented on #1587
@hipstersmoothie I've made another change to this, would you be able to create a canary version that I can test please?

[2020-10-31 19:41] JackHowa commented on #1593
@hipstersmoothie worked as expected after upgrading. will submit fix

[2020-10-31 19:48] JackHowa commented on #1593
Run into issues after running `yarn upgrade` with tests. I think it's resolved as far as storybook-deployer concerned:

[code]

[2020-10-31 19:48] #1593 closed

[2020-11-02 14:07] vincentbriglia opened #1628 "monorepo, independent packages, next branch and main branch: versioning mismatch over time"
**Is your feature request related to a problem? Please describe.**
when doing somewhat long development cycles into a next branch, publishing packages to the github package registry, using lerna and lerna workspaces through yarn, we end up with mismatched versions.

**Describe the solution you'd like**

because versions aren't updated in the package.json of each package, and we can't use 'file:/..

[2020-11-02 14:27] vincentbriglia commented on #1628
This has worked with yarn, because yarn de-duped this problem away for us. but some teams are using npm and npm is a bit more strict. what this means is that the dependency tree is not updated correctly.

in the next branch `@lego/klik-react@1.0.0-next.33` which should have a dependency on `@lego/klik@1.0.0-next.16` still has a dependency on `@lego/klik@0.0.2-next.0` because that's what specified

[2020-11-02 21:32] adierkens commented on #1628
:rocket: Issue was released in [`v10.2.0`](https://github.com/intuit/auto/releases/tag/v10.2.0) :rocket:

[2020-11-03 10:45] vincentbriglia commented on #1628
@hipstersmoothie the inner references were not updated, you can take a look here: https://github.com/LEGO/klik/commit/329d3b165b87f01486b9b550ee9766e9025a64f2

[2020-11-03 19:50] hipstersmoothie commented on #1628
Digging deeper on this now. I think this is a lerna issue? just playing around with lerna it seems that it's not updating these "inter dependencies" during a publish.

[2020-11-03 20:02] hipstersmoothie commented on #1628
I think i've found the issue

[2020-11-03 22:37] #1628 closed

[2020-11-03 22:37] hipstersmoothie commented on #1628
I think this next version should actually fix it

[2020-11-03 22:53] adierkens commented on #1628
:rocket: Issue was released in [`v10.2.1`](https://github.com/intuit/auto/releases/tag/v10.2.1) :rocket:

[2020-11-04 12:42] vincentbriglia commented on #1628
it did not fix: https://github.com/LEGO/klik/commit/15620c16cff397f237dc86e7b648a5cdea067dbf one is a dependency of the other, also strange that it bumped to 1.0.1 instead of sticking to 1.0.0

[2020-11-06 15:57] tinytim84 opened #1634 "Option for released plugin to ignore certain PRs"
**Is your feature request related to a problem? Please describe.**

We use dependabot for automated dependency updates.  Now we're switching to use auto for our releases, we get a lot of notification spam due to comments that are left in each PR that dependabot has opened.

**Describe the solution you'd like**

We'd like to be able to specify a label that when present, the released plugin would ig

[2020-11-06 17:54] hipstersmoothie commented on #1634
I'm down for this. I don't think this should require any config though. We already have this package [@auto-it/botlist](https://github.com/intuit/auto/blob/master/packages/bot-list/src/index.ts) that `auto` uses to ignore bots in other places. It could be used here to filter out PRs made by bots too.

We could then add a config option that lets the `release` plugin comment on those PRs. I'll proba

[2020-11-06 20:25] #1634 closed

[2020-11-06 20:43] adierkens commented on #1634
:rocket: Issue was released in [`v10.3.0`](https://github.com/intuit/auto/releases/tag/v10.3.0) :rocket:

[2020-11-09 13:56] tinytim84 commented on #1634
Great!  And thanks for the quick response @hipstersmoothie!

[2020-11-12 20:51] jscheel commented on #1367
I've run into this as well. All of the sudden, I can't get a release to go out. The changelog is generated properly, the PR has the `release` and `patch` labels on it, but it doesn't actually bump the version so it won't make a release.

[2020-11-12 21:14] hipstersmoothie commented on #1367
@jscheel Could link me to the CI job or post a log with `-vv` turned on?

[2020-11-14 02:46] jscheel commented on #1367
I am running it on metal, not in a CI job. I’m out of town for the weekend,
but I can can post on Monday. It actually worked fine when I used shipit,
which I’ve never used before.

On Thu, Nov 12, 2020 at 4:14 PM Andrew Lisowski <notifications@github.com>
wrote:

[2020-11-17 22:46] mattfelten opened #1649 "afterShipIt hook doesn't have dry run info"
Digging into #1508 more, I'm realizing that the `afterShipIt` hook doesn't have a way to see if it was run in a dry run or not. So our dry runs are kicking off CI builds. The `beforeShipIt`'s `context` includes info on whether it was run in a dry run or not, but `afterShipIt` doesn't. Could we include `dryRun` info to the `afterShipIt` hook?

[2020-11-18 21:31] hipstersmoothie commented on #1649
Good catch. Def open to adding this. Wanna make a PR?

[2020-11-18 21:58] mattfelten commented on #1649
At a glance this is over my head, but I'll take another look when I have some time.

[2020-11-18 23:49] hipstersmoothie commented on #1649
i have time. I'll do it now :D

[2020-11-19 00:45] #1649 closed

[2020-11-19 00:52] mattfelten commented on #1649
Thank you!

[2020-11-20 22:52] mattfelten opened #1651 "New version branches are not accurate with non-CI releases"
**Describe the bug**
We're running `auto` manually because we batch PRs into a release. It's a high moving project so we might have 10s of releases a day if it was through CI. Using `versionBranch` in the config, a new branch is created on a major release. Super cool! But comparing that branch to the corresponding release tag shows a ton of extra changes that should only be in the current release.

[2020-11-25 17:36] #1587 closed

[2020-11-25 18:45] #1560 closed

[2020-11-30 08:12] smoia opened #1669 "Auto v10.4.2 (linux) "releases" open issues and returns released messages more than once"
**Describe the bug**

During our last release of physiopy/phys2bids(https://github.com/physiopy/phys2bids), created by [this action](https://github.com/physiopy/phys2bids/runs/1470679789?check_suite_focus=true), one of our open issues was labelled as "released" and received quite some messages about being released in the latest version (see physiopy/phys2bids#314). Another issue that was closed a

[2020-12-02 17:41] #1189 closed

[2020-12-05 11:54] msonnleitner opened #1678 "Canaries for git-tag plugin"
**Is your feature request related to a problem? Please describe.**

When using auto with npm (for private packages) or gittag plugin it seems they are not supported.

Basically, the idea would be to use the gittags for [skaffold](https://skaffold.dev/) to create [tags](https://skaffold.dev/docs/pipeline-stages/taggers/).

**Describe the solution you'd like**

If using a git-tag with a PR branch an

[2020-12-07 21:16] hipstersmoothie commented on #1678
I'm not all that familiar with skaffold but it seems like that is your "publishing platform". It may make more sense to create a plugin that is generally applicable to `skaffold` projects or a custom plugin to fit your project.

`auto` is usually run from a CI, so not pushing the tag would mean it's lost most of the time. I think tagging canaries could lead to a lot fo noise in the repo too

[2020-12-07 21:32] msonnleitner commented on #1678
Well the idea was to create git tags which can also be pushed to the git repo. However, a Github release does not make much sense. Then again, you're right it probably adds quite some noise to the repo... well maybe it then does not make so much sense after all

[2020-12-08 13:50] benskz opened #1687 "No changelog/version bump commits or release tagged (Github Actions)"
**Describe the bug**

I'm trying to setup auto without running `auto shipit` as I don't want to publish anything. However, it does not appear that the version bumps are being committed and the release command does not detect a new version either. I'm assuming my setup is missing a step between the versioning and the release commands.

Thanks for your help.

**To Reproduce**

Scripts:
[code]

What

[2020-12-11 11:03] #1678 closed

[2020-12-15 00:27] hipstersmoothie commented on #1687
This is what @auto-it/git-tag is for. It enables you to use `shipit` with out publishing anywhere. it's vital that a tag is created for `auto` to function properly.

It looks like your scripts section is almost what we provide in the docs. you're just missing some stuff around tags. All you need to do is push the tags to your repo.

[code]

Once you have the tags on github sorted out `auto` should

[2020-12-21 21:39] adierkens commented on #1560
:rocket: Issue was released in [`v10.5.0`](https://github.com/intuit/auto/releases/tag/v10.5.0) :rocket:

[2020-12-22 11:51] benskz commented on #1687
Thanks @hipstersmoothie! `@auto-it/git-tag` is exactly what I needed, totally missed that option.

To be clear, this will not bump the package.json version? Only git tags?

[2020-12-22 11:51] #1687 closed

[2020-12-22 17:14] hipstersmoothie commented on #1687
Yup, this won't update the package.json

[2020-12-28 23:34] alexkreidler opened #1698 "Does Auto work with other (non-Lerna) monorepo tools?"
I've used [Rush](https://rushjs.io/) and [Nx](https://nx.dev/), which are alternative tools for managing monorepos, in the past. They can be configured to simply use a `packages/` folder just like lerna.

Would Auto work with these tools? If not, which specific lerna features does Auto require? For example: reading `lerna.json`, running a lerna command like `lerna changed`, etc.

It would be great

[2021-01-03 20:59] aleclarson opened #1699 "conventional-commits bumps 0.x versions incorrectly"
**Describe the bug**

When the version is `0.1.0` and a `feat:` commit is merged, the version is bumped to `0.2.0` instead of `0.1.1`.

This is wrong, as the major version (as far as NPM interprets it) is the leftmost, non-zero digit.

Essentially, `feat:` and `fix:` commits are identical for `0.x` versions.

**Environment information:**

[code]

[2021-01-05 23:11] hipstersmoothie commented on #1699
Happy to do this. having trouble finding this in the spec though

[2021-01-05 23:28] hipstersmoothie commented on #1699
Okay I see what you're saying now. `^0.2.0` doesn't include `0.3.0` or anything like that. only changes to the rightmost digit.

![Screen Shot 2021-01-05 at 3 24 28 PM](https://user-images.githubusercontent.com/1192452/103710545-1d33e500-4f6a-11eb-91d9-77f8d8222322.png)

Question: If both `minor` and `patch` both increment the rightmost digit how do you go from `0.0.0` => `0.1.0`? Both a  `minor`

[2021-01-05 23:42] hipstersmoothie commented on #1699
There is a lot of reading to do around this: https://github.com/semver/semver/issues/221

This would be a pretty big change to how the semantic versioning works right now. What I find odd is that npm treats semver in two ways:

1. in caret ranges it does what you (and the posted issue) describe
2. when using `npm version` it doesn't respect any of these conventions and just bumps the relevant digi

[2021-01-06 01:14] hipstersmoothie commented on #1699
This seems to work okay, what are your thoughts @aleclarson?

[2021-01-11 12:43] AndrewLeedham opened #1704 "git tag --points-at HEAD including blank string"
**Describe the bug**

It seems that https://github.com/intuit/auto/blob/master/plugins/npm/src/index.ts#L1273 includes a blank string when running inside GitHub actions on Linux, the repo has no tags as well, so I would expect the array to be empty and for this code not to run.

The actual error is
[code]

**To Reproduce**

- Publish something via npm with a repo that has not tags on GitHub Action

[2021-01-11 19:37] #1704 closed

[2021-01-12 00:35] lshadler commented on #1294
I see in the execSpawn args list we [pass `process.env` fully](https://github.com/intuit/auto/blob/master/plugins/exec/src/index.ts#L62), the option could specify to only pass auto-specific env vars?

[2021-01-12 22:26] sethomas opened #1711 "shipit.noChangelog option throws an error"
**Describe the bug**

Having `auto.shipit.noChangelog` defined in `package.json` or `.autorc` throws an error

**To Reproduce**

1. make a `package.json` like so:
[code]

2. run `npx auto shipit --dry-run`
3. notice the error:
[code]

or....

1. make a `package.json` like so:
[code]
2. make a `.autorc` like so:
[code]
3. run `npx auto shipit --dry-run`
4. notice the error:
[code]

**Expected behav

[2021-01-13 16:09] sethomas commented on #1711
out of the options listed [here](https://intuit.github.io/auto/docs/generated/shipit#configurable-options) only `onlyGraduateWithReleaseLabel` does not error.

[2021-01-13 19:15] sethomas opened #1712 "relative plugins from external config shared across packages breaks"
**Describe the bug**

When you make an external config of `auto` to be shared across multiple packages and specify a plugin that is relative path, the plugin is not found.

**To Reproduce**
1. make a repository to house `auto`'s config
2. make a custom plugin and define it relative in `package.json`
[code]
3. publish this to an npm registry
4. in another initialized npm project, install the `auto`

[2021-01-14 01:53] mattfelten commented on #1054
With the `from` and `useVerion` options merged, is there a built-in way to do a hotfix? I just had to make one today and opted to do it painfully manually.

For context, my project is on 7.7. A major consumer of our project is currently releasing a version that is on 7.5, found an issue and required 7.5.1 so they didn't have to re-QA everything mid-release. Not optimal, but does occasionally happe

[2021-01-14 05:39] hipstersmoothie commented on #1712
This is a cool use of a shared config. gonna make this work!

[2021-01-14 07:24] #1711 closed

[2021-01-14 07:40] adierkens commented on #1711
:rocket: Issue was released in [`v10.6.2`](https://github.com/intuit/auto/releases/tag/v10.6.2) :rocket:

[2021-01-14 15:33] sethomas commented on #1711
Confirmed new version does not error or produce a CHANGELOG.

THANKS

[2021-01-14 16:00] sethomas opened #1718 "Commits for version bump is from global git config"
**Describe the bug**

Looking at [this](https://github.com/intuit/auto/blob/master/packages/core/src/auto.ts#L1922-L1927), the version bump commit is from global git config user instead of `GH_TOKEN` user or `auto.author` defined [here](https://intuit.github.io/auto/docs/configuration/autorc#author).

My use case is when running an `auto shipit` command on a computer used for other dev activities

[2021-01-14 17:08] hipstersmoothie commented on #1712
Could you test out the canary version in #1717? @sethomas

[2021-01-14 17:23] hipstersmoothie commented on #1718
Currently we only do not set git's `user.email` and `user.name` if they are already set on the machine. This goes all the way back to #124. We could try to set it then restore it after auto is done, but i hesitate to do this. If something were to go wrong during an `auto` run and we weren't able to reset the git author it would leave your local machine in a bad state.

[2021-01-14 17:26] sethomas commented on #1712
@hipstersmoothie NIOCE, great success!

Confirmed:
1. in my `auto-config` repo, I installed `auto`'s canary release, and did a canary release of my `auto-config`
2. in another repo, I installed my `auto-config` canary release, and tried a canary release of that
3. my relative plugin worked successfully ^^

Really appreciate responses/iterations.

[2021-01-14 17:27] hipstersmoothie commented on #1712
Awesome! Thanks for confirming

[2021-01-14 17:28] #1712 closed

[2021-01-14 17:30] sethomas commented on #1718
@hipstersmoothie ah I am not implying that `auto` should set `user.email` or `user.name`, I just want it to respect the [`auto.author`](https://intuit.github.io/auto/docs/configuration/autorc#author) (or the `GH_TOKEN` name/email) instead of using the global `user.email` and `user.name` from the machine doing the release.

What is the use currently of `auto.author`?

[2021-01-14 17:37] hipstersmoothie commented on #1718
Totally understand that, it's just to achieve that we either need to call `git config` or pass a flag to all `git` commands that need `name` and `email` set.

When on a machine where `email` and `name` are already set it effectively does nothing.

https://github.com/intuit/auto/blob/master/packages/core/src/auto.ts#L1922-L1927

[2021-01-14 17:38] Yeti-or opened #1719 "auto version: Confusing behavior of Conventional Commits Plugin"
**Describe the bug**

First of all we don't use labels on our PR, and use `"conventional-commits", "npm" & "slack"` plugins.
We have two problems with CC Plugin, and I believe they are connected.

Let's discuss master branch flow:

When you merge PR and don't label PR;
cc-plugin will omit merge commit from commits that participate in `auto version`:

https://github.com/intuit/auto/blob/8b4d1f23e52

[2021-01-14 17:42] adierkens commented on #1712
:rocket: Issue was released in [`v10.7.0`](https://github.com/intuit/auto/releases/tag/v10.7.0) :rocket:

[2021-01-14 17:43] hipstersmoothie opened #1721 "v11 Potential Breaking Changes"
- deprecate `name`, `email`, and  `author` and instead extract those values from the `GH_TOKEN`

[2021-01-14 17:53] sethomas commented on #1718
@hipstersmoothie really appreciate the replies.

Can you explain why the there is a difference between the user associated with the "releases" in github vs the user tied to the commit?

[2021-01-14 17:56] hipstersmoothie commented on #1718
There isn't a good one 😅  This conversation made me realize that we don't really even need any of those configuration options and can get that information from the GH_TOKEN.

[This change is planned for whenever v11 happens](https://github.com/intuit/auto/issues/1721)

[And i've already made some changes to use the tokens name and email](https://github.com/intuit/auto/pull/1720)

[2021-01-14 18:00] sethomas commented on #1718
@hipstersmoothie Splendid! I shall subscribe to both links you shared. I'll leave closing this specific issue up to you. Thank you!

[2021-01-14 18:08] #1718 closed

[2021-01-14 23:57] hipstersmoothie commented on #1719
This is a tricky one to fix!

Just to be clear you expect:

[code]

to create a minor release and for the changelog to look something like

[code]

[2021-01-15 00:50] hipstersmoothie commented on #1719
The above comments pertain to this and you can test out if I fixed it by installing the canary version from [this PR](https://github.com/intuit/auto/pull/1723).

This breaks with how `auto` has worked so far. We treat the PR title as a commit message. If that title has a conventional commit that isnt a patch, minor, major it defaults to skip. If you add a label to the PR though that will take prec

[2021-01-15 00:51] hipstersmoothie commented on #1054
Still no way to do this to my knowledge without manual intervention. I think someone internally here at intuit plans on adding this eventually. I agree this is a sorely missing feature in auto

[2021-01-15 00:58] hipstersmoothie commented on #1698
Right now auto heavily depends on a few lerna commands:

- "changed"
- "ls"
- "version"
- "publish"

The best course of action for enabling `auto` to work with those other tools would probably just be to create separate plugins for each monorepo tool. We could try to roll it all into the `npm` plugin but it's become quite large. I've also wanted to split the lerna functionality into it's own plugi

[2021-01-15 01:02] hipstersmoothie commented on #1698
I'd also be open to pairing to get these built. I don't have much experience using these tools and domain knowledge helps a lot.

[2021-01-15 01:27] mattfelten commented on #1054
Awesome to hear! Thanks 🙏

[2021-01-15 02:43] bmuenzenmeyer commented on #1054
We (me and @10hendersonm) developed a solution for this but it's quite
involved. It solely uses auto and plugins however!

We just hotfixed 7.2.1, 8.1.1, and 8.2.2 of our project using only PRs
(very carefully).

We could look into how to share this out if people are interested?

On Thu, Jan 14, 2021, 7:27 PM Matt Felten <notifications@github.com> wrote:

[2021-01-15 16:56] hipstersmoothie commented on #1054
I would be very interested!

[2021-01-15 17:28] sethomas opened #1724 "use prepublishOnly instead of prepublish"
When looking at the lifecycle scripts, `prepublish` will run on local `npm i` which we do not want.

https://docs.npmjs.com/cli/v6/using-npm/scripts#life-cycle-scripts

Change `prepublish` to `prepublishOnly`

[2021-01-15 17:28] sethomas commented on #1724
Sigh, wrong repo, VERY sorry

[2021-01-15 17:28] #1724 closed

[2021-01-19 22:34] sethomas opened #1734 "npm plugin: issues with legacyAuth"
**Describe the bug**

Setting `legacyAuth` to true in `auto` config, does not properly send the value of `_auth` to `npm publish`.

**To Reproduce**

1. setup a npm project to use `auto` and the `npm` plugin
1. set `legacyAuth` to `true` in the plugin field
1. set `publishConfig.registry` in your `package.json` to be an external registry
1. make a `.env` file, add in `NPM_TOKEN`
1. run `npx auto c

[2021-01-19 22:40] hipstersmoothie commented on #1734
Would you be willing to submit a PR? @sethomas

[2021-01-19 23:46] sethomas commented on #1734
@hipstersmoothie yeah absolutely, got it all ready in my local but I can't push up

[2021-01-19 23:48] hipstersmoothie commented on #1734
Why can't you push?

[2021-01-19 23:49] sethomas commented on #1734
`git push origin npm-legacy-auth`:
[code]

[2021-01-20 00:11] sethomas commented on #1734
ah you want me to fork, one moment

[2021-01-20 00:47] #1734 closed

[2021-01-20 01:05] adierkens commented on #1734
:rocket: Issue was released in [`v10.11.0`](https://github.com/intuit/auto/releases/tag/v10.11.0) :rocket:

[2021-01-20 01:05] adierkens commented on #1734
:rocket: Issue was released in [`v10.11.0`](https://github.com/intuit/auto/releases/tag/v10.11.0) :rocket:

[2021-01-21 17:54] myndelx opened #1737 "Question about merging a PR in a pre-release branch"
When merging a PR with a label that has a `releaseType: none` (e.g. `internal`) in a pre-release branch (e.g. `next`), the `yarn auto shipit` command will still trigger a new pre-release (e.g. `mypkg-1.0.0-next.1`) whereas if I do the same on the `master` branch, no new release will be triggered, because of the `releaseType: none`. Is it the normal behavior? Why this difference?

[2021-01-21 22:16] hipstersmoothie commented on #1737
This is a great callout! They `none` labels should behave the same on a prerelease branch.

[2021-01-21 22:36] #1737 closed

[2021-01-21 22:49] adierkens commented on #1737
:rocket: Issue was released in [`v10.12.1`](https://github.com/intuit/auto/releases/tag/v10.12.1) :rocket:

[2021-01-22 09:18] myndelx commented on #1737
Thanks you so much @hipstersmoothie for your reactivity! :muscle:

[2021-01-22 22:54] aleclarson commented on #1719
It would be great if #1723 checked all commits after the latest version, instead of only the most recent commit.

[2021-01-25 17:05] #1699 closed

[2021-01-25 17:37] adierkens commented on #1699
:rocket: Issue was released in [`v10.13.0`](https://github.com/intuit/auto/releases/tag/v10.13.0) :rocket:

[2021-01-26 01:11] hipstersmoothie opened #1753 "Add 'target' option to canary command"
**Is your feature request related to a problem? Please describe.**

Sometimes when editing a PR body the canary version will erase my work.

**Describe the solution you'd like**

There should be a `target` option that can be set to `pr-body`, `message`, or `status`.

- `pr-body`: Add to the pull request body. default, what exists today
- `message`: Post as a message to the PR
- `status`: Post as a

[2021-01-27 10:06] AndrewLeedham opened #1754 "Website search links failing"
**Describe the bug**

Links in the search bar at the top of https://intuit.github.io/ seem to be pointing to `/auto/auto/etc/`, when selecting them with the enter key, instead of `/auto/etc` which is causing them to 404. Clicking them still works, it only seems to occur with keyboard navigation.

**To Reproduce**

Search for labels, hit enter, get a 404 page.

**Expected behavior**

Links not to 4

[2021-01-28 00:40] hipstersmoothie commented on #1754
Fixed! thanks for the heads up!

[2021-01-28 00:40] #1754 closed

[2021-01-28 08:50] dariye opened #1761 "Lastest release seems to break npx command"
**Describe the bug**

Running `npx auto shipit` produces an error. My guess is that this release https://github.com/intuit/auto/pull/1752 broke the npx command

**To Reproduce**

1. Run `npx auto shipit` (on CI or local)

**Expected behavior**

- On local, it should create a canary release
- On CI, it should create a regular release

**Screenshots**

<img width="1009" alt="Screenshot 2021-01-28 at

[2021-01-28 17:45] #1761 closed

[2021-01-28 17:45] hipstersmoothie commented on #1761
Sorry about that! the next release should fix this

[2021-01-28 17:57] adierkens commented on #1761
:rocket: Issue was released in [`v10.13.3`](https://github.com/intuit/auto/releases/tag/v10.13.3) :rocket:

[2021-02-01 12:51] dariye commented on #1761
Thank you @hipstersmoothie

[2021-02-05 20:36] jwodder opened #1778 "$ARG_0 variable to `version` hook of `exec` plugin not as implied by documentation"
[The documentation for the `exec` plugin](https://intuit.github.io/auto/docs/generated/exec#usage) gives the following example:

[code]

This example strongly implies that, when using the `version` hook via `exec`, the `$ARG_0` envvar will be a valid argument to `npm version`, i.e., either a version string or a semantic version component name like "minor" or "patch".  However, I am finding that it

[2021-02-10 05:55] regicsolutions opened #1789 "SCM Support"
**Is your feature request related to a problem? Please describe.**

Looking to understand which GIT based SCM systems auto supports, is Bitbucket Server Supported?

[2021-02-10 09:31] hipstersmoothie commented on #1789
Currently auto and it's plugins are very tied to github. But I think it should be somewhat possible to refactor auto to have SCM plugins